Pandas can read from files such as .csv, excel(.xls/xlsx), html(.html) and SAS(.sas7bdat) using the pd.read_ function

**1. Reading data fro a CSV file format**

In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv('columns.csv')
df

,1999,2000,2001,2002,1999.1,2000.1,2001.1,2002.1,1999.2,2000.2,...,2002.2,1999.3,2000.3,2001.3,2002.3,1999.4,2000.4,2001.4,2002.4,2019
0,0.654045,0.641969,0.362616,0.929921,0.309586,0.049323,0.294664,0.948292,0.730779,0.499855,...,0.265603,0.353963,0.035462,0.125164,0.489357,0.833452,0.622119,0.875775,0.760268,0.424512
1,0.476901,0.326290,0.084285,0.543280,0.203367,0.663712,0.513209,0.909529,0.591528,0.887485,...,0.605876,0.886121,0.898554,0.985216,0.833407,0.558761,0.624001,0.627814,0.250618,0.100343
2,0.748812,0.506360,0.581869,0.539934,0.675905,0.657155,0.995109,0.911061,0.904855,0.594453,...,0.831548,0.167434,0.872764,0.277061,0.617589,0.765490,0.895375,0.662042,0.468551,0.639761
3,0.932042,0.303014,0.806558,0.616291,0.412607,0.965497,0.533521,0.068637,0.340915,0.572685,...,0.263486,0.753430,0.601114,0.323600,0.085658,0.749012,0.713006,0.100191,0.216369,0.611315
4,0.616343,0.644765,0.219709,0.373868,0.993482,0.433389,0.311338,0.523595,0.510593,0.211818,...,0.221211,0.614028,0.662550,0.989069,0.814600,0.106171,0.434294,0.154794,0.086781,0.399107
5,0.136256,0.948281,0.238689,0.439704,0.987425,0.772673,0.059890,0.997099,0.127147,0.464831,...,0.648136,0.733482,0.470430,0.900729,0.723745,0.147663,0.613911,0.103441,0.909635,0.723497
6,0.692014,0.723839,0.188167,0.025216,0.424288,0.087831,0.587944,0.177442,0.444046,0.961173,...,0.221951,0.255604,0.242864,0.323518,0.512722,0.506507,0.260951,0.431882,0.138078,0.415388
7,0.875936,0.682802,0.751940,0.281904,0.378738,0.914868,0.799332,0.478951,0.906546,0.167654,...,0.327903,0.567865,0.571683,0.863954,0.275605,0.822689,0.340018,0.291600,0.931336,0.130425
8,0.473876,0.113442,0.558832,0.506930,0.595523,0.815719,0.536480,0.845322,0.441190,0.681595,...,0.249226,0.918969,0.485444,0.386761,0.870197,0.383506,0.390440,0.089146,0.089269,0.518823
9,0.207733,0.909233,0.278874,0.796808,0.823914,0.429459,0.268095,0.972645,0.801951,0.512759,...,0.084035,0.799232,0.971097,0.000622,0.379754,0.295625,0.269056,0.784487,0.192444,0.422513
10,0.240638,0.847354,0.159347,0.912627,0.386118,0.149469,0.791188,0.713584,0.986714,0.823395,...,0.676060,0.789104,0.915986,0.321283,0.556718,0.841367,0.674300,0.213777,0.406526,0.236841
11,0.867836,0.686298,0.668956,0.874914,0.877478,0.225737,0.928470,0.272943,0.297228,0.247903,...,0.843841,0.875732,0.242779,0.161935,0.743633,0.031050,0.266057,0.956123,0.344452,0.072100
12,0.007095,0.287952,0.917546,0.878840,0.889847,0.311944,0.370832,0.482202,0.337330,0.129248,...,0.121593,0.231918,0.844111,0.696337,0.201760,0.105708,0.434658,0.841899,0.455516,0.350309
13,0.654045,0.641969,0.362616,0.929921,0.309586,0.049323,0.294664,0.948292,0.730779,0.499855,...,0.265603,0.353963,0.035462,0.125164,0.489357,0.833452,0.622119,0.875775,0.760268,0.424512
14,0.795767,0.047597,0.926649,0.542185,0.287678,0.498324,0.805376,0.097079,0.938827,0.553931,...,0.862744,0.468236,0.910845,0.082531,0.497861,0.235168,0.315279,0.790105,0.863723,0.866913
15,0.752755,0.384087,0.585851,0.068073,0.466495,0.766380,0.468787,0.516427,0.323306,0.655301,...,0.892314,0.175884,0.394945,0.383029,0.811268,0.959499,0.361287,0.790105,0.863723,0.866913
16,0.387545,0.389818,0.114086,0.361842,0.493972,0.429480,0.249256,0.580887,0.943948,0.886471,...,0.481758,0.913352,0.546838,0.519469,0.941144,0.470748,0.145966,0.302852,0.982232,0.831201
17,0.776385,0.856789,0.070727,0.783676,0.447738,0.293232,0.119470,0.531871,0.779411,0.339601,...,0.742801,0.744250,0.323586,0.174355,0.839002,0.438805,0.077548,0.070135,0.228647,0.546020
18,0.904489,0.612665,0.654012,0.442763,0.157356,0.320437,0.361099,0.167113,0.402695,0.818856,...,0.838424,0.211738,0.464851,0.283028,0.608095,0.159303,0.494998,0.877144,0.828876,0.261719
19,0.132472,0.504476,0.757044,0.993352,0.748735,0.168239,0.725313,0.975229,0.788347,0.669768,...,0.586945,0.201857,0.377744,0.754028,0.620826,0.494693,0.464404,0.424340,0.527315,0.834745
20,0.597096,0.013831,0.921913,0.354229,0.030137,0.116442,0.823683,0.107233,0.381768,0.997625,...,0.654307,0.815381,0.421103,0.812491,0.604412,0.105510,0.794030,0.392607,0.070277,0.183877
21,0.981552,0.786816,0.943944,0.018137,0.567627,0.120962,0.864012,0.818941,0.069074,0.347914,...,0.350260,0.446251,0.139040,0.044032,0.829154,0.631839,0.300737,0.930886,0.655735,0.181478
22,0.006101,0.740162,0.348433,0.457961,0.838978,0.295977,0.513199,0.696408,0.363805,0.708296,...,0.955432,0.073649,0.799648,0.112256,0.676234,0.548885,0.976184,0.181677,0.001469,0.647874
23,0.451788,0.015049,0.954628,0.385888,0.958591,0.398451,0.370834,0.344707,0.147068,0.328014,...,0.978260,0.035770,0.369381,0.210321,0.432393,0.475872,0.878356,0.850000,0.001469,0.647874

In [12]:
# writing a DataFrame to a csv file as output using the .to_csv() method

df.to_csv('col1.csv', index = False)

**2. Reading data from an excel file**

Pandas can read data from an excel file excluding formulas and can write data into a new excel file.
Excel files with macros may cause this read_excel() to crash.

In [11]:
df = pd.read_excel('Data_dump_10_rows.xlsx', sheet_name = 'Sheet1')
df

   0 FirstName   LastName  Gender        Country  Age       Date    Id
0  1     Dulce      Abril  Female  United States   32 2017-10-15  1562
1  2      Mara  Hashimoto  Female  Great Britain   25 2016-08-16  1582
2  3    Philip       Gent    Male        France    36 2015-05-21  2587
3  4  Kathleen     Hanner  Female  United States   25 2017-10-15  3549
4  5   Nereida    Magwood  Female  United States   58 2016-08-16  2468
5  6    Gaston      Brumm    Male  United States   24 2015-05-21  2554
6  7      Etta      Hurn   Female  Great Britain   56 2017-10-15  3598
7  8   Earlean     Melgar  Female  United States   27 2016-08-16  2456
8  9  Vincenza    Weiland  Female  United States   40 2015-05-21  6548

In [13]:
# writing a DataFrame to a excel file as output using the .to_excel() method

df.to_excel('Excel_samp1.xlsx', sheet_name = 'Sheet1')

**3. Reading data from a html file**

Pandas read_html() will read tables of a webpage and return a list of DataFrame objects

In [71]:
import pandas as pd

url = "https://en.wikipedia.org/wiki/Indian_Premier_League"

# Read all tables from the page
tables = pd.read_html(url)

# Show how many tables were found
print(f"Number of tables found: {len(tables)}")

# Preview the first table
print(tables[0].head())

HTTPError: HTTP Error 403: Forbidden

In [45]:
import pandas as pd
import requests

# Step 1: URL
url = "https://en.wikipedia.org/wiki/2025%E2%80%9326_Premier_League"

# Step 2: Custom headers to mimic a real browser
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) '
                  'AppleWebKit/537.36 (KHTML, like Gecko) '
                  'Chrome/91.0.4472.124 Safari/537.36'
}

# Step 3: Fetch the page
response = requests.get(url, headers=headers)

# Check if successful
if response.status_code == 200:
    # Step 4: Parse HTML content into DataFrames
    tables = pd.read_html(response.text)
    
    print(f"Number of tables found: {len(tables)}")
    print(tables[0].head())  # Show first table
else:
    print(f"Failed to fetch page: {response.status_code}")

Number of tables found: 18
                0                             1
0          Season                       2025–26
1           Dates  15 August 2025 – 24 May 2026
2  Matches played                            50
3    Goals scored          124 (2.48 per match)
4  Top goalscorer      Erling Haaland (6 goals)

C:\Users\USER\AppData\Local\Temp\ipykernel_1892\4072819085.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(response.text)

In [60]:
df = tables[4]
df

    Pos                     Team  Pld  W  D  L  GF  GA  GD  Pts
0     1                Liverpool    5  5  0  0  11   5  +6   15
1     2                  Arsenal    5  3  1  1  10   2  +8   10
2     3        Tottenham Hotspur    5  3  1  1  10   3  +7   10
3     4              Bournemouth    5  3  1  1   6   5  +1   10
4     5           Crystal Palace    5  2  3  0   6   2  +4    9
5     6                  Chelsea    5  2  2  1  10   5  +5    8
6     7               Sunderland    5  2  2  1   6   4  +2    8
7     8                   Fulham    5  2  2  1   6   5  +1    8
8     9          Manchester City    5  2  1  2   9   5  +4    7
9    10                  Everton    5  2  1  2   6   5  +1    7
10   11        Manchester United    5  2  1  2   6   8  −2    7
11   12             Leeds United    5  2  1  2   4   7  −3    7
12   13         Newcastle United    5  1  3  1   3   3   0    6
13   14   Brighton & Hove Albion    5  1  2  2   6   8  −2    5
14   15        Nottingham Forest    5  1  2  2   5   9  −4    5
15   16                  Burnley    5  1  1  3   5   8  −3    4
16   17                Brentford    5  1  1  3   6  10  −4    4
17   18              Aston Villa    5  0  3  2   1   5  −4    3
18   19          West Ham United    5  1  0  4   5  13  −8    3
19   20  Wolverhampton Wanderers    5  0  0  5   3  12  −9    0

In [58]:
print(df.columns)

Index(['Pos', 'Team', 'Pld', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts'], dtype='object')

In [64]:
df.to_csv('epl.csv', index = False)

**4. Reading data from a SAS file**

In [67]:
df = pd.read_sas('eventrepository.sas7bdat')

df

,_NAME_,_CLASS_,_KEYNAME_,_STARTDATE_,_ENDDATE_,_DATEINTRVL_,_STARTDT_,_ENDDT_,_DTINTRVL_,_STARTOBS_,...,_DUR_BEFORE_,_DUR_AFTER_,_SLOPE_BEF_,_SLOPE_AFT_,_SHIFT_,_TCPARM_,_RULE_,_PERIOD_,_LABEL_,_LOCALE_
0,b'LS1',b'SIMPLE',b'.',2013-10-01,NaT,b'.',NaT,NaT,b'.',NaN,...,0.0,NaN,b'GROWTH',b'GROWTH',0.0,0.5,b'ADD',b'.',b'.',b'US English'
1,b'POINT1',b'SIMPLE',b'.',2013-10-01,NaT,b'.',NaT,NaT,b'.',NaN,...,0.0,0.0,b'GROWTH',b'GROWTH',0.0,0.5,b'ADD',b'.',b'.',b'US English'
2,b'RAMP1',b'SIMPLE',b'.',2013-10-01,NaT,b'.',NaT,NaT,b'.',NaN,...,0.0,NaN,b'GROWTH',b'GROWTH',0.0,0.5,b'ADD',b'.',b'.',b'US English'
3,b'TC1',b'SIMPLE',b'.',2013-10-01,NaT,b'.',NaT,NaT,b'.',NaN,...,0.0,NaN,b'GROWTH',b'DECAY',0.0,0.5,b'ADD',b'.',b'.',b'US English'
4,b'POINT2',b'SIMPLE',b'.',2013-10-01,NaT,b'.',NaT,NaT,b'.',NaN,...,0.0,4.0,b'GROWTH',b'GROWTH',0.0,0.5,b'ADD',b'.',b'.',b'US English'
5,b'RAMP2',b'SIMPLE',b'.',2013-10-01,NaT,b'.',NaT,NaT,b'.',NaN,...,4.0,4.0,b'GROWTH',b'DECAY',0.0,0.5,b'ADD',b'.',b'.',b'US English'
6,b'POINT4',b'SIMPLE',b'.',2013-10-01,2014-10-01,b'QTR',NaT,NaT,b'.',NaN,...,0.0,2.0,b'GROWTH',b'GROWTH',0.0,0.5,b'ADD',b'.',b'.',b'US English'
7,b'POINT7',b'SIMPLE',b'.',2013-09-01,NaT,b'.',NaT,NaT,b'.',NaN,...,0.0,0.0,b'GROWTH',b'GROWTH',0.0,0.5,b'ADD',b'MONTH',b'.',b'US English'

In [69]:
df.to_csv('sas_data.csv', index = False)

**DATA PROCESSING**

Data processing is the conversion of data into usable or desirable form.
It is carried out using a predefined sequence either manually or automatically

In [72]:
import pandas as pd
import requests

# Step 1: URL
url = "https://en.wikipedia.org/wiki/Indian_Premier_League"

# Step 2: Custom headers to mimic a real browser
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) '
                  'AppleWebKit/537.36 (KHTML, like Gecko) '
                  'Chrome/91.0.4472.124 Safari/537.36'
}

# Step 3: Fetch the page
response = requests.get(url, headers=headers)

# Check if successful
if response.status_code == 200:
    # Step 4: Parse HTML content into DataFrames
    tables = pd.read_html(response.text)
    
    print(f"Number of tables found: {len(tables)}")
    print(tables[0].head())  # Show first table
else:
    print(f"Failed to fetch page: {response.status_code}")

C:\Users\USER\AppData\Local\Temp\ipykernel_1892\4233109154.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(response.text)

Number of tables found: 41
               0                                      1
0            NaN                                    NaN
1      Countries                                  India
2  Administrator  Board of Control for Cricket in India
3   Headquarters                          Mumbai, India
4         Format                               Twenty20

In [78]:
df = tables
df1 = df[5]

In [79]:
df1

,Team,City,Home ground,Debut,Captain,Head coach,Owner(s),Ref
0,Chennai Super Kings,"Chennai, Tamil Nadu",M. A. Chidambaram Stadium,2008,Ruturaj Gaikwad,Stephen Fleming,Chennai Super Kings Cricket Limited,NaN
1,Delhi Capitals,"New Delhi, Delhi",Arun Jaitley Stadium,2008,Axar Patel,Hemang Badani,GMR Group (50%) JSW Group (50%),[70]
2,Gujarat Titans,"Ahmedabad, Gujarat",Narendra Modi Stadium,2022,Shubman Gill,Ashish Nehra,Torrent Group (67%) CVC Capital (33%),[71]
3,Kolkata Knight Riders,"Kolkata, West Bengal",Eden Gardens,2008,Ajinkya Rahane,Chandrakant Pandit,Shah Rukh Khan (55%) Mehta Group (45%),[71]
4,Lucknow Super Giants,"Lucknow, Uttar Pradesh",Ekana Stadium,2022,Rishabh Pant,Justin Langer,RP-Sanjiv Goenka Group,[72]
5,Mumbai Indians,"Mumbai, Maharashtra",Wankhede Stadium,2008,Hardik Pandya,Mahela Jayawardene,Reliance Industries,[73]
6,Punjab Kings,"New Chandigarh, Punjab",Maharaja Yadavindra Singh Stadium,2008,Shreyas Iyer,Ricky Ponting,Mohit Burman (48%) Ness Wadia (23%) Preity Zin...,[74]
7,Rajasthan Royals,"Jaipur, Rajasthan",Sawai Mansingh Stadium,2008,Sanju Samson,Rahul Dravid,Manoj Badale (65%) RedBird (15%) Lachlan Murdo...,[75]
8,Royal Challengers Bengaluru,"Bengaluru, Karnataka",M. Chinnaswamy Stadium,2008,Rajat Patidar,Andy Flower,United Spirits,[76]
9,Sunrisers Hyderabad,"Hyderabad, Telangana",Rajiv Gandhi Stadium,2013,Pat Cummins,Daniel Vettori,Sun TV Network,[77]