**DATA PROCESSING**

Data processing is the conversion of data into usable or desirable form. It is carried out using a predefined sequence either manually or automatically

In [53]:
import pandas as pd
import requests

# Step 1: URL
url = "https://en.wikipedia.org/wiki/Indian_Premier_League"

# Step 2: Custom headers to mimic a real browser
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) '
                  'AppleWebKit/537.36 (KHTML, like Gecko) '
                  'Chrome/91.0.4472.124 Safari/537.36'
}

# Step 3: Fetch the page
response = requests.get(url, headers=headers)

# Check if successful
if response.status_code == 200:
    # Step 4: Parse HTML content into DataFrames
    tables = pd.read_html(response.text)
    
    print(f"Number of tables found: {len(tables)}")
    print(tables[0].head())  # Show first table
else:
    print(f"Failed to fetch page: {response.status_code}")

Number of tables found: 41
               0                                      1
0            NaN                                    NaN
1      Countries                                  India
2  Administrator  Board of Control for Cricket in India
3   Headquarters                          Mumbai, India
4         Format                               Twenty20

C:\Users\USER\AppData\Local\Temp\ipykernel_9984\4233109154.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(response.text)

In [54]:
df = tables

In [55]:
df1 = df[5]
df1

,Team,City,Home ground,Debut,Captain,Head coach,Owner(s),Ref
0,Chennai Super Kings,"Chennai, Tamil Nadu",M. A. Chidambaram Stadium,2008,Ruturaj Gaikwad,Stephen Fleming,Chennai Super Kings Cricket Limited,NaN
1,Delhi Capitals,"New Delhi, Delhi",Arun Jaitley Stadium,2008,Axar Patel,Hemang Badani,GMR Group (50%) JSW Group (50%),[70]
2,Gujarat Titans,"Ahmedabad, Gujarat",Narendra Modi Stadium,2022,Shubman Gill,Ashish Nehra,Torrent Group (67%) CVC Capital (33%),[71]
3,Kolkata Knight Riders,"Kolkata, West Bengal",Eden Gardens,2008,Ajinkya Rahane,Chandrakant Pandit,Shah Rukh Khan (55%) Mehta Group (45%),[71]
4,Lucknow Super Giants,"Lucknow, Uttar Pradesh",Ekana Stadium,2022,Rishabh Pant,Justin Langer,RP-Sanjiv Goenka Group,[72]
5,Mumbai Indians,"Mumbai, Maharashtra",Wankhede Stadium,2008,Hardik Pandya,Mahela Jayawardene,Reliance Industries,[73]
6,Punjab Kings,"New Chandigarh, Punjab",Maharaja Yadavindra Singh Stadium,2008,Shreyas Iyer,Ricky Ponting,Mohit Burman (48%) Ness Wadia (23%) Preity Zin...,[74]
7,Rajasthan Royals,"Jaipur, Rajasthan",Sawai Mansingh Stadium,2008,Sanju Samson,Rahul Dravid,Manoj Badale (65%) RedBird (15%) Lachlan Murdo...,[75]
8,Royal Challengers Bengaluru,"Bengaluru, Karnataka",M. Chinnaswamy Stadium,2008,Rajat Patidar,Andy Flower,United Spirits,[76]
9,Sunrisers Hyderabad,"Hyderabad, Telangana",Rajiv Gandhi Stadium,2013,Pat Cummins,Daniel Vettori,Sun TV Network,[77]

**1. Reading first and last n rows**

In [14]:
df1.head()  # reads first n rows from the dataframe

,Team,City,Home ground,Debut,Captain,Head coach,Owner(s),Ref
0,Chennai Super Kings,"Chennai, Tamil Nadu",M. A. Chidambaram Stadium,2008,Ruturaj Gaikwad,Stephen Fleming,Chennai Super Kings Cricket Limited,NaN
1,Delhi Capitals,"New Delhi, Delhi",Arun Jaitley Stadium,2008,Axar Patel,Hemang Badani,GMR Group (50%) JSW Group (50%),[70]
2,Gujarat Titans,"Ahmedabad, Gujarat",Narendra Modi Stadium,2022,Shubman Gill,Ashish Nehra,Torrent Group (67%) CVC Capital (33%),[71]
3,Kolkata Knight Riders,"Kolkata, West Bengal",Eden Gardens,2008,Ajinkya Rahane,Chandrakant Pandit,Shah Rukh Khan (55%) Mehta Group (45%),[71]
4,Lucknow Super Giants,"Lucknow, Uttar Pradesh",Ekana Stadium,2022,Rishabh Pant,Justin Langer,RP-Sanjiv Goenka Group,[72]

In [15]:
df1.tail()  # reads the last n rows from the dataframe

,Team,City,Home ground,Debut,Captain,Head coach,Owner(s),Ref
5,Mumbai Indians,"Mumbai, Maharashtra",Wankhede Stadium,2008,Hardik Pandya,Mahela Jayawardene,Reliance Industries,[73]
6,Punjab Kings,"New Chandigarh, Punjab",Maharaja Yadavindra Singh Stadium,2008,Shreyas Iyer,Ricky Ponting,Mohit Burman (48%) Ness Wadia (23%) Preity Zin...,[74]
7,Rajasthan Royals,"Jaipur, Rajasthan",Sawai Mansingh Stadium,2008,Sanju Samson,Rahul Dravid,Manoj Badale (65%) RedBird (15%) Lachlan Murdo...,[75]
8,Royal Challengers Bengaluru,"Bengaluru, Karnataka",M. Chinnaswamy Stadium,2008,Rajat Patidar,Andy Flower,United Spirits,[76]
9,Sunrisers Hyderabad,"Hyderabad, Telangana",Rajiv Gandhi Stadium,2013,Pat Cummins,Daniel Vettori,Sun TV Network,[77]

**2. Renaming column names in a DataFrame using .rename()**

In [62]:
df1.rename(columns = {'City': 'Location', 'Head coach': 'Manager', 'Owner(s)': 'Owner'}, inplace = True)

In [63]:
df1

,Team,Location,Home ground,Debut,Captain,Manager,Owner,Ref
0,CHENNAI SUPER KINGS,"Chennai, Tamil Nadu",M. A. Chidambaram Stadium,2008,Ruturaj Gaikwad,Stephen Fleming,Chennai Super Kings Cricket Limited,NaN
1,DELHI CAPITALS,"New Delhi, Delhi",Arun Jaitley Stadium,2008,Axar Patel,Hemang Badani,GMR Group (50%) JSW Group (50%),[70]
2,GUJARAT TITANS,"Ahmedabad, Gujarat",Narendra Modi Stadium,2022,Shubman Gill,Ashish Nehra,Torrent Group (67%) CVC Capital (33%),[71]
3,KOLKATA KNIGHT RIDERS,"Kolkata, West Bengal",Eden Gardens,2008,Ajinkya Rahane,Chandrakant Pandit,Shah Rukh Khan (55%) Mehta Group (45%),[71]
4,LUCKNOW SUPER GIANTS,"Lucknow, Uttar Pradesh",Ekana Stadium,2022,Rishabh Pant,Justin Langer,RP-Sanjiv Goenka Group,[72]
5,MUMBAI INDIANS,"Mumbai, Maharashtra",Wankhede Stadium,2008,Hardik Pandya,Mahela Jayawardene,Reliance Industries,[73]
6,PUNJAB KINGS,"New Chandigarh, Punjab",Maharaja Yadavindra Singh Stadium,2008,Shreyas Iyer,Ricky Ponting,Mohit Burman (48%) Ness Wadia (23%) Preity Zin...,[74]
7,RAJASTHAN ROYALS,"Jaipur, Rajasthan",Sawai Mansingh Stadium,2008,Sanju Samson,Rahul Dravid,Manoj Badale (65%) RedBird (15%) Lachlan Murdo...,[75]
8,ROYAL CHALLENGERS BENGALURU,"Bengaluru, Karnataka",M. Chinnaswamy Stadium,2008,Rajat Patidar,Andy Flower,United Spirits,[76]
9,SUNRISERS HYDERABAD,"Hyderabad, Telangana",Rajiv Gandhi Stadium,2013,Pat Cummins,Daniel Vettori,Sun TV Network,[77]

**3. Deleting a column usinf del keyword**

In [68]:
del df1['Ref']

In [19]:
df1

,Team,Location,Home ground,Debut,Captain,Manager,Owner
0,Chennai Super Kings,"Chennai, Tamil Nadu",M. A. Chidambaram Stadium,2008,Ruturaj Gaikwad,Stephen Fleming,Chennai Super Kings Cricket Limited
1,Delhi Capitals,"New Delhi, Delhi",Arun Jaitley Stadium,2008,Axar Patel,Hemang Badani,GMR Group (50%) JSW Group (50%)
2,Gujarat Titans,"Ahmedabad, Gujarat",Narendra Modi Stadium,2022,Shubman Gill,Ashish Nehra,Torrent Group (67%) CVC Capital (33%)
3,Kolkata Knight Riders,"Kolkata, West Bengal",Eden Gardens,2008,Ajinkya Rahane,Chandrakant Pandit,Shah Rukh Khan (55%) Mehta Group (45%)
4,Lucknow Super Giants,"Lucknow, Uttar Pradesh",Ekana Stadium,2022,Rishabh Pant,Justin Langer,RP-Sanjiv Goenka Group
5,Mumbai Indians,"Mumbai, Maharashtra",Wankhede Stadium,2008,Hardik Pandya,Mahela Jayawardene,Reliance Industries
6,Punjab Kings,"New Chandigarh, Punjab",Maharaja Yadavindra Singh Stadium,2008,Shreyas Iyer,Ricky Ponting,Mohit Burman (48%) Ness Wadia (23%) Preity Zin...
7,Rajasthan Royals,"Jaipur, Rajasthan",Sawai Mansingh Stadium,2008,Sanju Samson,Rahul Dravid,Manoj Badale (65%) RedBird (15%) Lachlan Murdo...
8,Royal Challengers Bengaluru,"Bengaluru, Karnataka",M. Chinnaswamy Stadium,2008,Rajat Patidar,Andy Flower,United Spirits
9,Sunrisers Hyderabad,"Hyderabad, Telangana",Rajiv Gandhi Stadium,2013,Pat Cummins,Daniel Vettori,Sun TV Network

**4. Dropping rows and columns from a DataFrame**

In [20]:
# Dropping rows and columns silmutaneously from a dataframe

df1.drop(index = [4,5,6,7], columns = ['Debut','Home ground'])

# Drops rows from the 4th index onwards
# Drops columns 'Debut' and 'Home ground'

,Team,Location,Captain,Manager,Owner
0,Chennai Super Kings,"Chennai, Tamil Nadu",Ruturaj Gaikwad,Stephen Fleming,Chennai Super Kings Cricket Limited
1,Delhi Capitals,"New Delhi, Delhi",Axar Patel,Hemang Badani,GMR Group (50%) JSW Group (50%)
2,Gujarat Titans,"Ahmedabad, Gujarat",Shubman Gill,Ashish Nehra,Torrent Group (67%) CVC Capital (33%)
3,Kolkata Knight Riders,"Kolkata, West Bengal",Ajinkya Rahane,Chandrakant Pandit,Shah Rukh Khan (55%) Mehta Group (45%)
8,Royal Challengers Bengaluru,"Bengaluru, Karnataka",Rajat Patidar,Andy Flower,United Spirits
9,Sunrisers Hyderabad,"Hyderabad, Telangana",Pat Cummins,Daniel Vettori,Sun TV Network

In [21]:
# dropping a range of rows and columns from a DataFrame using indexing

df1.drop(df1.index[4:])  # dropping rows from 4th index onwards

,Team,Location,Home ground,Debut,Captain,Manager,Owner
0,Chennai Super Kings,"Chennai, Tamil Nadu",M. A. Chidambaram Stadium,2008,Ruturaj Gaikwad,Stephen Fleming,Chennai Super Kings Cricket Limited
1,Delhi Capitals,"New Delhi, Delhi",Arun Jaitley Stadium,2008,Axar Patel,Hemang Badani,GMR Group (50%) JSW Group (50%)
2,Gujarat Titans,"Ahmedabad, Gujarat",Narendra Modi Stadium,2022,Shubman Gill,Ashish Nehra,Torrent Group (67%) CVC Capital (33%)
3,Kolkata Knight Riders,"Kolkata, West Bengal",Eden Gardens,2008,Ajinkya Rahane,Chandrakant Pandit,Shah Rukh Khan (55%) Mehta Group (45%)

In [51]:
df1.drop(df1.columns[1:3], axis = 1)

,Team,Debut,Captain,Manager,Owner
0,CHENNAI SUPER KINGS,2008,<built-in method upper of str object at 0x0000...,STEPHEN FLEMING,Chennai Super Kings Cricket Limited
1,DELHI CAPITALS,2008,<built-in method upper of str object at 0x0000...,HEMANG BADANI,GMR Group (50%) JSW Group (50%)
2,GUJARAT TITANS,2022,<built-in method upper of str object at 0x0000...,ASHISH NEHRA,Torrent Group (67%) CVC Capital (33%)
3,KOLKATA KNIGHT RIDERS,2008,<built-in method upper of str object at 0x0000...,CHANDRAKANT PANDIT,Shah Rukh Khan (55%) Mehta Group (45%)
4,LUCKNOW SUPER GIANTS,2022,<built-in method upper of str object at 0x0000...,JUSTIN LANGER,RP-Sanjiv Goenka Group
5,MUMBAI INDIANS,2008,<built-in method upper of str object at 0x0000...,MAHELA JAYAWARDENE,Reliance Industries
6,PUNJAB KINGS,2008,<built-in method upper of str object at 0x0000...,RICKY PONTING,Mohit Burman (48%) Ness Wadia (23%) Preity Zin...
7,RAJASTHAN ROYALS,2008,<built-in method upper of str object at 0x0000...,RAHUL DRAVID,Manoj Badale (65%) RedBird (15%) Lachlan Murdo...
8,ROYAL CHALLENGERS BENGALURU,2008,<built-in method upper of str object at 0x0000...,ANDY FLOWER,United Spirits
9,SUNRISERS HYDERABAD,2013,<built-in method upper of str object at 0x0000...,DANIEL VETTORI,Sun TV Network

Applying functions to the columns of a DataFrame

In [23]:
df1

,Team,Location,Home ground,Debut,Captain,Manager,Owner
0,Chennai Super Kings,"Chennai, Tamil Nadu",M. A. Chidambaram Stadium,2008,Ruturaj Gaikwad,Stephen Fleming,Chennai Super Kings Cricket Limited
1,Delhi Capitals,"New Delhi, Delhi",Arun Jaitley Stadium,2008,Axar Patel,Hemang Badani,GMR Group (50%) JSW Group (50%)
2,Gujarat Titans,"Ahmedabad, Gujarat",Narendra Modi Stadium,2022,Shubman Gill,Ashish Nehra,Torrent Group (67%) CVC Capital (33%)
3,Kolkata Knight Riders,"Kolkata, West Bengal",Eden Gardens,2008,Ajinkya Rahane,Chandrakant Pandit,Shah Rukh Khan (55%) Mehta Group (45%)
4,Lucknow Super Giants,"Lucknow, Uttar Pradesh",Ekana Stadium,2022,Rishabh Pant,Justin Langer,RP-Sanjiv Goenka Group
5,Mumbai Indians,"Mumbai, Maharashtra",Wankhede Stadium,2008,Hardik Pandya,Mahela Jayawardene,Reliance Industries
6,Punjab Kings,"New Chandigarh, Punjab",Maharaja Yadavindra Singh Stadium,2008,Shreyas Iyer,Ricky Ponting,Mohit Burman (48%) Ness Wadia (23%) Preity Zin...
7,Rajasthan Royals,"Jaipur, Rajasthan",Sawai Mansingh Stadium,2008,Sanju Samson,Rahul Dravid,Manoj Badale (65%) RedBird (15%) Lachlan Murdo...
8,Royal Challengers Bengaluru,"Bengaluru, Karnataka",M. Chinnaswamy Stadium,2008,Rajat Patidar,Andy Flower,United Spirits
9,Sunrisers Hyderabad,"Hyderabad, Telangana",Rajiv Gandhi Stadium,2013,Pat Cummins,Daniel Vettori,Sun TV Network

In [41]:
# create a user-defined function to convert lower case letters to upper case

def upper_case(x):
    return x.upper()

In [64]:
# applying function into column franchise
try:
    df1['Team'] = df1['Team'].apply(upper_case)
except Exception as e:
    print(f"An error occured: {e}")

In [65]:
# using lambda function inplace of the user-defined function above

try:
    df1['Manager'] = df1['Manager'].apply(lambda x:x.upper())
except Exception as e:
    print(f"An error occured: {e}")

In [66]:
df1

,Team,Location,Home ground,Debut,Captain,Manager,Owner,Ref
0,CHENNAI SUPER KINGS,"Chennai, Tamil Nadu",M. A. Chidambaram Stadium,2008,Ruturaj Gaikwad,STEPHEN FLEMING,Chennai Super Kings Cricket Limited,NaN
1,DELHI CAPITALS,"New Delhi, Delhi",Arun Jaitley Stadium,2008,Axar Patel,HEMANG BADANI,GMR Group (50%) JSW Group (50%),[70]
2,GUJARAT TITANS,"Ahmedabad, Gujarat",Narendra Modi Stadium,2022,Shubman Gill,ASHISH NEHRA,Torrent Group (67%) CVC Capital (33%),[71]
3,KOLKATA KNIGHT RIDERS,"Kolkata, West Bengal",Eden Gardens,2008,Ajinkya Rahane,CHANDRAKANT PANDIT,Shah Rukh Khan (55%) Mehta Group (45%),[71]
4,LUCKNOW SUPER GIANTS,"Lucknow, Uttar Pradesh",Ekana Stadium,2022,Rishabh Pant,JUSTIN LANGER,RP-Sanjiv Goenka Group,[72]
5,MUMBAI INDIANS,"Mumbai, Maharashtra",Wankhede Stadium,2008,Hardik Pandya,MAHELA JAYAWARDENE,Reliance Industries,[73]
6,PUNJAB KINGS,"New Chandigarh, Punjab",Maharaja Yadavindra Singh Stadium,2008,Shreyas Iyer,RICKY PONTING,Mohit Burman (48%) Ness Wadia (23%) Preity Zin...,[74]
7,RAJASTHAN ROYALS,"Jaipur, Rajasthan",Sawai Mansingh Stadium,2008,Sanju Samson,RAHUL DRAVID,Manoj Badale (65%) RedBird (15%) Lachlan Murdo...,[75]
8,ROYAL CHALLENGERS BENGALURU,"Bengaluru, Karnataka",M. Chinnaswamy Stadium,2008,Rajat Patidar,ANDY FLOWER,United Spirits,[76]
9,SUNRISERS HYDERABAD,"Hyderabad, Telangana",Rajiv Gandhi Stadium,2013,Pat Cummins,DANIEL VETTORI,Sun TV Network,[77]

**sorting or ordering a dataframe**

In [69]:
df1

,Team,Location,Home ground,Debut,Captain,Manager,Owner
0,CHENNAI SUPER KINGS,"Chennai, Tamil Nadu",M. A. Chidambaram Stadium,2008,Ruturaj Gaikwad,STEPHEN FLEMING,Chennai Super Kings Cricket Limited
1,DELHI CAPITALS,"New Delhi, Delhi",Arun Jaitley Stadium,2008,Axar Patel,HEMANG BADANI,GMR Group (50%) JSW Group (50%)
2,GUJARAT TITANS,"Ahmedabad, Gujarat",Narendra Modi Stadium,2022,Shubman Gill,ASHISH NEHRA,Torrent Group (67%) CVC Capital (33%)
3,KOLKATA KNIGHT RIDERS,"Kolkata, West Bengal",Eden Gardens,2008,Ajinkya Rahane,CHANDRAKANT PANDIT,Shah Rukh Khan (55%) Mehta Group (45%)
4,LUCKNOW SUPER GIANTS,"Lucknow, Uttar Pradesh",Ekana Stadium,2022,Rishabh Pant,JUSTIN LANGER,RP-Sanjiv Goenka Group
5,MUMBAI INDIANS,"Mumbai, Maharashtra",Wankhede Stadium,2008,Hardik Pandya,MAHELA JAYAWARDENE,Reliance Industries
6,PUNJAB KINGS,"New Chandigarh, Punjab",Maharaja Yadavindra Singh Stadium,2008,Shreyas Iyer,RICKY PONTING,Mohit Burman (48%) Ness Wadia (23%) Preity Zin...
7,RAJASTHAN ROYALS,"Jaipur, Rajasthan",Sawai Mansingh Stadium,2008,Sanju Samson,RAHUL DRAVID,Manoj Badale (65%) RedBird (15%) Lachlan Murdo...
8,ROYAL CHALLENGERS BENGALURU,"Bengaluru, Karnataka",M. Chinnaswamy Stadium,2008,Rajat Patidar,ANDY FLOWER,United Spirits
9,SUNRISERS HYDERABAD,"Hyderabad, Telangana",Rajiv Gandhi Stadium,2013,Pat Cummins,DANIEL VETTORI,Sun TV Network

In [71]:
df1.sort_values(by = 'Location') # sorting by ascending order

,Team,Location,Home ground,Debut,Captain,Manager,Owner
2,GUJARAT TITANS,"Ahmedabad, Gujarat",Narendra Modi Stadium,2022,Shubman Gill,ASHISH NEHRA,Torrent Group (67%) CVC Capital (33%)
8,ROYAL CHALLENGERS BENGALURU,"Bengaluru, Karnataka",M. Chinnaswamy Stadium,2008,Rajat Patidar,ANDY FLOWER,United Spirits
0,CHENNAI SUPER KINGS,"Chennai, Tamil Nadu",M. A. Chidambaram Stadium,2008,Ruturaj Gaikwad,STEPHEN FLEMING,Chennai Super Kings Cricket Limited
9,SUNRISERS HYDERABAD,"Hyderabad, Telangana",Rajiv Gandhi Stadium,2013,Pat Cummins,DANIEL VETTORI,Sun TV Network
7,RAJASTHAN ROYALS,"Jaipur, Rajasthan",Sawai Mansingh Stadium,2008,Sanju Samson,RAHUL DRAVID,Manoj Badale (65%) RedBird (15%) Lachlan Murdo...
3,KOLKATA KNIGHT RIDERS,"Kolkata, West Bengal",Eden Gardens,2008,Ajinkya Rahane,CHANDRAKANT PANDIT,Shah Rukh Khan (55%) Mehta Group (45%)
4,LUCKNOW SUPER GIANTS,"Lucknow, Uttar Pradesh",Ekana Stadium,2022,Rishabh Pant,JUSTIN LANGER,RP-Sanjiv Goenka Group
5,MUMBAI INDIANS,"Mumbai, Maharashtra",Wankhede Stadium,2008,Hardik Pandya,MAHELA JAYAWARDENE,Reliance Industries
6,PUNJAB KINGS,"New Chandigarh, Punjab",Maharaja Yadavindra Singh Stadium,2008,Shreyas Iyer,RICKY PONTING,Mohit Burman (48%) Ness Wadia (23%) Preity Zin...
1,DELHI CAPITALS,"New Delhi, Delhi",Arun Jaitley Stadium,2008,Axar Patel,HEMANG BADANI,GMR Group (50%) JSW Group (50%)

In [73]:
df1.sort_values(by = 'Location', ascending = False) # sorting in descending order

,Team,Location,Home ground,Debut,Captain,Manager,Owner
1,DELHI CAPITALS,"New Delhi, Delhi",Arun Jaitley Stadium,2008,Axar Patel,HEMANG BADANI,GMR Group (50%) JSW Group (50%)
6,PUNJAB KINGS,"New Chandigarh, Punjab",Maharaja Yadavindra Singh Stadium,2008,Shreyas Iyer,RICKY PONTING,Mohit Burman (48%) Ness Wadia (23%) Preity Zin...
5,MUMBAI INDIANS,"Mumbai, Maharashtra",Wankhede Stadium,2008,Hardik Pandya,MAHELA JAYAWARDENE,Reliance Industries
4,LUCKNOW SUPER GIANTS,"Lucknow, Uttar Pradesh",Ekana Stadium,2022,Rishabh Pant,JUSTIN LANGER,RP-Sanjiv Goenka Group
3,KOLKATA KNIGHT RIDERS,"Kolkata, West Bengal",Eden Gardens,2008,Ajinkya Rahane,CHANDRAKANT PANDIT,Shah Rukh Khan (55%) Mehta Group (45%)
7,RAJASTHAN ROYALS,"Jaipur, Rajasthan",Sawai Mansingh Stadium,2008,Sanju Samson,RAHUL DRAVID,Manoj Badale (65%) RedBird (15%) Lachlan Murdo...
9,SUNRISERS HYDERABAD,"Hyderabad, Telangana",Rajiv Gandhi Stadium,2013,Pat Cummins,DANIEL VETTORI,Sun TV Network
0,CHENNAI SUPER KINGS,"Chennai, Tamil Nadu",M. A. Chidambaram Stadium,2008,Ruturaj Gaikwad,STEPHEN FLEMING,Chennai Super Kings Cricket Limited
8,ROYAL CHALLENGERS BENGALURU,"Bengaluru, Karnataka",M. Chinnaswamy Stadium,2008,Rajat Patidar,ANDY FLOWER,United Spirits
2,GUJARAT TITANS,"Ahmedabad, Gujarat",Narendra Modi Stadium,2022,Shubman Gill,ASHISH NEHRA,Torrent Group (67%) CVC Capital (33%)

In [74]:
df1.sort_values(by = 'Location', ascending = False, ignore_index = True) # sorting by ignoring index such that they remain the same

,Team,Location,Home ground,Debut,Captain,Manager,Owner
0,DELHI CAPITALS,"New Delhi, Delhi",Arun Jaitley Stadium,2008,Axar Patel,HEMANG BADANI,GMR Group (50%) JSW Group (50%)
1,PUNJAB KINGS,"New Chandigarh, Punjab",Maharaja Yadavindra Singh Stadium,2008,Shreyas Iyer,RICKY PONTING,Mohit Burman (48%) Ness Wadia (23%) Preity Zin...
2,MUMBAI INDIANS,"Mumbai, Maharashtra",Wankhede Stadium,2008,Hardik Pandya,MAHELA JAYAWARDENE,Reliance Industries
3,LUCKNOW SUPER GIANTS,"Lucknow, Uttar Pradesh",Ekana Stadium,2022,Rishabh Pant,JUSTIN LANGER,RP-Sanjiv Goenka Group
4,KOLKATA KNIGHT RIDERS,"Kolkata, West Bengal",Eden Gardens,2008,Ajinkya Rahane,CHANDRAKANT PANDIT,Shah Rukh Khan (55%) Mehta Group (45%)
5,RAJASTHAN ROYALS,"Jaipur, Rajasthan",Sawai Mansingh Stadium,2008,Sanju Samson,RAHUL DRAVID,Manoj Badale (65%) RedBird (15%) Lachlan Murdo...
6,SUNRISERS HYDERABAD,"Hyderabad, Telangana",Rajiv Gandhi Stadium,2013,Pat Cummins,DANIEL VETTORI,Sun TV Network
7,CHENNAI SUPER KINGS,"Chennai, Tamil Nadu",M. A. Chidambaram Stadium,2008,Ruturaj Gaikwad,STEPHEN FLEMING,Chennai Super Kings Cricket Limited
8,ROYAL CHALLENGERS BENGALURU,"Bengaluru, Karnataka",M. Chinnaswamy Stadium,2008,Rajat Patidar,ANDY FLOWER,United Spirits
9,GUJARAT TITANS,"Ahmedabad, Gujarat",Narendra Modi Stadium,2022,Shubman Gill,ASHISH NEHRA,Torrent Group (67%) CVC Capital (33%)

**Sorting by multiple columns**

In [83]:
try:
    df = pd.read_excel('Data_dump_10_rows.xlsx', sheet_name = 'Sheet1')
except Exception as e:
    print(f"An error occured: {e}")

In [85]:
df

   0 FirstName   LastName  Gender        Country  Age       Date    Id
0  1     Dulce      Abril  Female  United States   32 2017-10-15  1562
1  2      Mara  Hashimoto  Female  Great Britain   25 2016-08-16  1582
2  3    Philip       Gent    Male        France    36 2015-05-21  2587
3  4  Kathleen     Hanner  Female  United States   25 2017-10-15  3549
4  5   Nereida    Magwood  Female  United States   58 2016-08-16  2468
5  6    Gaston      Brumm    Male  United States   24 2015-05-21  2554
6  7      Etta      Hurn   Female  Great Britain   56 2017-10-15  3598
7  8   Earlean     Melgar  Female  United States   27 2016-08-16  2456
8  9  Vincenza    Weiland  Female  United States   40 2015-05-21  6548

In [86]:
df2 = df[['Id', 'Age', 'Gender', 'Country', 'Date']] # rearranging the columns in the dataframe
df2

     Id  Age  Gender        Country       Date
0  1562   32  Female  United States 2017-10-15
1  1582   25  Female  Great Britain 2016-08-16
2  2587   36    Male        France  2015-05-21
3  3549   25  Female  United States 2017-10-15
4  2468   58  Female  United States 2016-08-16
5  2554   24    Male  United States 2015-05-21
6  3598   56  Female  Great Britain 2017-10-15
7  2456   27  Female  United States 2016-08-16
8  6548   40  Female  United States 2015-05-21

In [88]:
df2.sort_values(by = ['Id', 'Age'], ignore_index = True) # sorting by multiple columns

     Id  Age  Gender        Country       Date
0  1562   32  Female  United States 2017-10-15
1  1582   25  Female  Great Britain 2016-08-16
2  2456   27  Female  United States 2016-08-16
3  2468   58  Female  United States 2016-08-16
4  2554   24    Male  United States 2015-05-21
5  2587   36    Male        France  2015-05-21
6  3549   25  Female  United States 2017-10-15
7  3598   56  Female  Great Britain 2017-10-15
8  6548   40  Female  United States 2015-05-21

In [89]:
df2.sort_values(by = ['Age','Id'], ignore_index = True) # sorting by multiple columns

     Id  Age  Gender        Country       Date
0  2554   24    Male  United States 2015-05-21
1  1582   25  Female  Great Britain 2016-08-16
2  3549   25  Female  United States 2017-10-15
3  2456   27  Female  United States 2016-08-16
4  1562   32  Female  United States 2017-10-15
5  2587   36    Male        France  2015-05-21
6  6548   40  Female  United States 2015-05-21
7  3598   56  Female  Great Britain 2017-10-15
8  2468   58  Female  United States 2016-08-16