**PANDAS INTRODUCTION**

In [1]:
'''pandas is built on top of NumPy

Helps to create ds such as series and dataframe and it comes with functions which helps to efficiently
perform data munging tasks 

data munging tasks involves the conversion of raw data from one form to another

Dataframes are essentially multi-dimensional arrays with attached row and columns labels and often
with heterogenous data types and/or missing data
 
Pandas package can read data from different sources like excel,sql,SAS,SPSS and many more

Pandas dataframe can be converted into different formats like excel, sql, SAS, SPSS and hence
it gives us the option of efficient storage

Pandas implements a number of powerful data operations familiar to users of both database frameworks
and spreadsheet programs'''

**Pandas Series**

**Pandas series**
a data structure with one-multi-dimensional labeled array capable of holding any data type e.g. integers, strings, floating point numbers, python objects etc

In [2]:
# creating a series using a pandas pd.series

import numpy as np
import pandas as pd

Marks_arr = np.random.randint(35, 100, 6)

Marks = [80,93,77,85,75,77]

Subjects = ['English', 'Maths', 'Social', 'Science', 'Lang1', 'Lang2']

In [3]:
# pd.Series(data = Marks_arr)

# pd.Series(data = Marks_arr, index = Subjects)

Score = pd.Series(Marks, Subjects)
Score

English    80
Maths      93
Social     77
Science    85
Lang1      75
Lang2      77
dtype: int64

In [4]:
type(Score)

pandas.core.series.Series

**Attributes of a series**

In [5]:
print("Length of a series :", len(Score))

print("Shape of a series :", Score.shape)

print("Series value count :", Score.count())

print("Value in a series :", Score.values)

print("Unique values in a series:", Score.unique())

print("Index of a series:", Score.index)

print("Count of each value in a series:\n", Score.value_counts())

Length of a series : 6
Shape of a series : (6,)
Series value count : 6
Value in a series : [80 93 77 85 75 77]
Unique values in a series: [80 93 77 85 75]
Index of a series: Index(['English', 'Maths', 'Social', 'Science', 'Lang1', 'Lang2'], dtype='object')
Count of each value in a series:
 77    2
80    1
93    1
85    1
75    1
Name: count, dtype: int64

**Accessing values in a series**

In [6]:
result = {'Physics':90, 'Chemistry':89, 'Mathematics':87, 'Computer':45, 'Electronics':90}

In [7]:
Final_result = pd.Series(result)  # creating a series using a dictionary
Final_result

Physics        90
Chemistry      89
Mathematics    87
Computer       45
Electronics    90
dtype: int64

In [35]:
print(Final_result['Physics']) # accessing 'phys' internal score
print(Final_result['Mathematics'])
print(Final_result['Electronics'])
print(Final_result.iloc[3]) # accessing values using index
print('\n')
print(Final_result.iloc[[2, 3, 4]]) # accessing using a list of indices
print('\n')
print(Final_result[0:2]) # slicing a series
print('\n')
print(Final_result['Physics':'Mathematics']) # slicing a series using names
print('\n')
print(Final_result[::-1]) # reversing a series
print('\n')
Final_result['Computer'] = 76 # changing values within a series
print(Final_result)
print('\n')
print('The mean value is:', Final_result.mean()) # finding the mean value in a series
print('\n')
del(Final_result['Electronics']) # deleting a value in a series
print(Final_result)

90
87
90
76


Mathematics    87
Computer       76
Electronics    90
dtype: int64


Physics      90
Chemistry    89
dtype: int64


Physics        90
Chemistry      89
Mathematics    87
dtype: int64


Electronics    90
Computer       76
Mathematics    87
Chemistry      89
Physics        90
dtype: int64


Physics        90
Chemistry      89
Mathematics    87
Computer       76
Electronics    90
dtype: int64


The mean value is: 86.4


Physics        90
Chemistry      89
Mathematics    87
Computer       76
dtype: int64

In [48]:
# adding 2 series together

Internal1 = pd.Series([25,26,27], ['Phy', 'Chem', 'Math'])

print(Internal1)

Phy     25
Chem    26
Math    27
dtype: int64

In [49]:
Internal2 = pd.Series([20,21,np.nan], ['Phy', 'Math', 'Comp'])

'''np.nan means Not a number and is a member of a numeric data type that can be interpreted as
a value that is undefined or unrepresentable'''

Internal2

Phy     20.0
Math    21.0
Comp     NaN
dtype: float64

In [52]:
# Internal_sum = Internal1 + Internal2 # adding two series

Internal_sum = Internal1.add(Internal2, fill_value = 0) # adding 2 series

Internal_sum

Chem    26.0
Comp     NaN
Math    48.0
Phy     45.0
dtype: float64

In [53]:
# average of 2 internals

Internal_sum / 2

Chem    13.0
Comp     NaN
Math    24.0
Phy     22.5
dtype: float64