In [1]:
print('Hello world!!')

Hello world!!

In [2]:
import keyword

print(keyword.kwlist)

print("\n list of python program keywords are:", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

 list of python program keywords are: 35

In [3]:
print('I am learning python')  #this is a single line comment

I am learning python

In [4]:
print('This is a multi-line comment')

'''this is
    a
    multi-line comment'''

This is a multi-line comment

'this is\n    a\n    multi-line comment'

In [5]:
# a single line statement also known of assignment statement

x = 100

In [6]:
x

100

In [7]:
# this is a multi-line statement - by use of back-slash

a = 1 + 2 + 3 + 4 \
    + 5 + 6 + 7 \
    + 8 + 9 + 10

In [8]:
a

55

In [9]:
# this is a multi-line statement -  by use of a paranthensis

a = (1 + 2 + 3 + 4
    + 5 + 6 + 7 
    + 8 + 9 + 10)

In [10]:
a

55

In [11]:
# multiple statements in a single line - separated using a semi-colon

a = 2; b = 3; c = 6

In [12]:
a

2

In [13]:
# this is a multi-line statement

a = 1 + 2 + 3 + 4 \
    + 5 + 6 + 7 \
    + 8 + 9 + 10

print(a)

55

In [14]:
# assigning multiple values to multiple multiple variables

a, b, c, = 2, 4.3, 'Deng'

print(a, b, c)

2 4.3 Deng

In [15]:
# deleting a variable

x = 11
del x

In [16]:
id(x)

NameError: name 'x' is not defined

In [ ]:
# python list

[5, 10, 'school', 22-12j, True]

In [2]:
x = [10, 20, 30, 40, 50, 60, 70]

print(x)

[10, 20, 30, 40, 50, 60, 70]

In [3]:
x[2] = 90  #lists are mutable -  can be altered using the index
print(x)

[10, 20, 90, 40, 50, 60, 70]

In [4]:
# slicing values in a list

x[0:3]

[10, 20, 90]

In [5]:
x[2:6]

[90, 40, 50, 60]

In [6]:
x[0:-4]

[10, 20, 90]

In [7]:
# TUPLES

t = (20, 'school', 22+4j, True)

print(t)

(20, 'school', (22+4j), True)

In [8]:
t[0:3]

(20, 'school', (22+4j))

In [9]:
t(0) = 30  #tuples are immutable-  can not be altered

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (1390059648.py, line 1)

In [10]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)

t = t1 + t2 # concatenation

print(t)

(1, 2, 3, 4, 5, 6)

In [ ]:
#SET - an unordered collection of unique items

s = {50, 20, 10, 30, 40, 30, 50}

print(s)

In [ ]:
s = {50, 20, 10, 30, 40, 30, 50}

s[3]

In [11]:
# DICTIONARY - ordered collection of key:value

{'Key':'value', 'word':'meaning'}

{'Key': 'value', 'word': 'meaning'}

In [12]:
s = 'Hello World!'

s[-2]

'd'

In [13]:
print(s[len(s)-1])  # negative indexing

# or

print(s[-1])

!
!

In [14]:
# Type conversion - converting a data type to another data type

# float to int

int(10.3)

10

In [15]:
# int to float

float(5)

5.0

In [16]:
# strig to float

float('2.5')

2.5

In [17]:
# int to string

str(23)

'23'

In [18]:
# list to set

set([1,2,3])

{1, 2, 3}

In [19]:
# dict to tuple

tuple({5:'a',6:'b',7:'c'})

(5, 6, 7)

In [20]:
# string to list

list('hello')

['h', 'e', 'l', 'l', 'o']

In [21]:
# list of lists to dict

dict([[1,2],[3,4]])

{1: 2, 3: 4}

In [22]:
# tuple into dict

dict([(3,26),(4,44)])

{3: 26, 4: 44}

In [23]:
# print formatting using Str.format() method

Temp = 45

print('Temparature is {} degree celcius'.format(Temp))

Temparature is 45 degree celcius

In [24]:
Degree = 41; Minutes = 24; Seconds = 12.5

print('Latitude is {0} degree, {1} minutes and {2} seconds N'.format(Degree,Minutes,Seconds))

Latitude is 41 degree, 24 minutes and 12.5 seconds N

In [25]:
# Str.format() using keyword arguments

print('Latitude is {Degree} degree, {Minutes} minutes and {Seconds} seconds N'.format(Degree = '41',Minutes = '24',Seconds = '12.5'))

Latitude is 41 degree, 24 minutes and 12.5 seconds N

PYTHON INPUT

In [32]:
num = int(input('Enter a number: '))

Enter a number:  20

In [33]:
print(num)

20

In [34]:
type(num)

int

In [37]:
num = str(num)
num

'20'

In [38]:
type(num)

str

OPERATORS IN PYTHON

In [ ]:
# arithmetic operators
x,y = 5,2

#x + y
#x - y
#x * y
#x / y
# x % y
x // y
# x ** y

In [ ]:
# comparison operators
a,b = 10,5

a > b
a < b
a == b
a != b
a >= b
a <= b

In [ ]:
# logical operators
A = True
B =  False

A and B
A or B
not B

CONVERTING A NUMERIC VALUE TO BINARY OR BCD OR 8421 CODE

In [ ]:
# Bitwise operators
x = 10
y = 4

x & y
x | y
~x # ~x = -x - 1
x ^ y
x >> 1
x << 1

In [40]:
# special operators
x1 = 'hello'
y1 = 'hello'

x1 is y1 # output is boolean

True

In [41]:
x2 = 4
y2 = 4

x2 is not y2

False

In [42]:
x3 = [1,2,3]
y3 = [1,2,3]

x3 is y3  #x3 and y3 are data structures hence are allocated memory separately thus returns false

False

In [43]:
# membership operator

x = 'Perminus'

'r' in x

True

In [44]:
'q' in x

False

In [45]:
'k' not in x

True

**if STATEMENTS**

In [46]:
Marks = 79

if Marks>=35:
    print(Marks, 'You have passed the Examination')

79 You have passed the Examination

In [47]:
Marks = 34

if Marks >= 35:
    print('You have passed the examination, congratulations')
else:
    print('You have failed the examination, better luck next time')

You have failed the examination, better luck next time

In [48]:
Marks = 38

if Marks >= 35:
    print('You have passed the examination, congratulations')
elif Marks == 35:
    print('You have just passed the examination')
else:
    print('You have failed the examination, better luck next time')

You have passed the examination, congratulations

In [51]:
Marks = int(input('Enter your marks: '))

if Marks >= 35:
    if Marks == 35:
        print('You have just passed the test')
    else:
        print('You have passed the test')
else:
    print('You have failed the test')

Enter your marks:  5

You have failed the test

In [ ]:
Marks = int(input('Enter your marks: '))

if Marks >= 60 and Marks < 70:
    print('Result =',Marks, 'You have passed the test with First class')
elif Marks >= 35 and Marks <= 60:
    print('Result =',Marks, 'You have passed test with Second class')
elif Marks <= 35:
    print('Results =',Marks, 'You have not passed the test')
else:
    print('Results =',Marks, 'You have passed the examination with distinction')

**while LOOP**

In [52]:
# program to generate a multiplication table of 5 using a while loop

Mul = 10
Mulp = 5
i = 1

while i <= Mul:

    Product = Mulp * i  # creating multiples
    
    print('{} * {} = {}'.format(Mulp,i,Product))
    
    i += 1   # update counter

# in the case of an infinite loop, use the Kernel interrupt

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [56]:
# program to generate a multiplication table of 5 using a while loop

Mul = 10
Mulp = 11
i = 0

lst = [1,2,3,4,5,6,7,8,9,10]

while i < Mul:

    Product = Mulp * lst[i]
    print('{0} * {1} = {2}'.format(Mulp,lst[i],Product))
    i += 1 # update counter

else:

    print('\nMultiplication of tables completed until {} * {}'.format(Mulp,i))

11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110

Multiplication of tables completed until 11 * 10

In [55]:
# program to obtain sum of n natural numbers

Sum = 0
i = 1
n = int(input('Enter a limit number: '))

while i <= n:

    Sum += i
    
    i += 1

else:

    print('\nThe sum of {} natural numbers is {}'.format(n,Sum))

Enter a limit number:  7

The sum of 7 natural numbers is 28

**for LOOP**

In [57]:
# program to print values in a sequence

for val in 'S1','S2','S3','S4','S5':
    print(val)

S1
S2
S3
S4
S5

In [58]:
# program to obtain the sum of values in a list

sum = 0

lst = [1,2,3,4,5]

for val in lst:
    
    sum += val
    
print('The sum is', sum)

The sum is 15

RANGE FUNCTION IN A FOR LOOP

In [59]:
range(10)

range(0, 10)

In [60]:
range(0, 10)

range(0, 10)

In [61]:
print(list(range(1, 10, 2)))

[1, 3, 5, 7, 9]

In [62]:
# using range function in a for loop
# multiplication table example

Mulp = 5

for val in range(1,11):

    Product = Mulp*val
    
    print('{} * {} = {}'.format(Mulp,val,Product))

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [64]:
# program to obtain the sum of even numbers using a for loop and range function

sum = 0
summation = 0

for val in range(0, 10, 2):
    
    sum += val

print('The sum of even numbers is ', sum)

for values in range(1, 10, 2):  # sum of odd numbers

    summation += values

print('The sum of odd numbers is ', summation)

The sum of even numbers is  20
The sum of odd numbers is  25

In [65]:
week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

len(week)

7

In [66]:
range(len(week))

range(0, 7)

In [67]:
# iterating values in a list using range function

week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

for i in range(len(week)):

    print(week[i])

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [68]:
for i in range(0, 7, 2):

    print(week[i])

Monday
Wednesday
Friday
Sunday

In [69]:
# iterating values in a list using range function
# where Mon to Fri are weekdays and the rest weekends

week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

for i in range(len(week)):

    if i < 5:

        print('Day {} of the week is {} and is on a weekday.'.format(i+1,week[i]))
    else:

        print('Day {} of the week is {} and is on a weekend.'.format(i+1,week[i]))

Day 1 of the week is Monday and is on a weekday.
Day 2 of the week is Tuesday and is on a weekday.
Day 3 of the week is Wednesday and is on a weekday.
Day 4 of the week is Thursday and is on a weekday.
Day 5 of the week is Friday and is on a weekday.
Day 6 of the week is Saturday and is on a weekend.
Day 7 of the week is Sunday and is on a weekend.

In [70]:
# for loop with else

greet = ('Hello', 'Hi', 'Good morning')

for i in greet:

    print(i)

else:

    print('\nNo more items left')

Hello
Hi
Good morning

No more items left

In [75]:
 # program to fetch player names and their score from a dict if the score is > 200.

score = {'Deng': 200, 'Lynne': 199, 'Veona': 213, 'Benadatah': 264, 'Eliud': 109}

i = 0

for player in score:

    if score[player] >= 200:

        print('Player found! Highest individual score of {} is {}'.format(player,score[player]))
        
        i+=1
    
else:
    if i>0:

        if i==1:
            print('\n{} player found with score greater than 200'.format(i))
        else:
            print('\n{} players found with score greater than 200'.format(i))

    else:

        print('\nNo player recored found with score greater than 200')

Player found! Highest individual score of Deng is 200
Player found! Highest individual score of Veona is 213
Player found! Highest individual score of Benadatah is 264

3 players found with score greater than 200

**BREAK AND CONTINUE STATEMENTS**

In [79]:
# program to display the team for which a player plays for in EPL

player_name = input('Enter the player name: ')

Team = {'Haaland': "Man City", 'Garnacho': "Man United", 'Saka': "Ars", 'Rashford': "Villa", 'Delap': "Ipswich", 'Son': "Spurs"}

for player in Team:

    if player == player_name:

        print('\nPlayer found! {} plays for {} in EPL'.format(player,Team[player]))

        break


    else:

        print('Player not found!')     
        
else:

    print('\nNo entry with that name {} was found or you may change the case and try again'.format(player_name))

Enter the player name:  ole

Player not found!
Player not found!
Player not found!
Player not found!
Player not found!
Player not found!

No entry with that name ole was found or you may change the case and try again

In [80]:
# program to fetch player names with age less than or equal to 32.

Age = {'Deng': 43, 'Lynne': 20, 'Kawii': 33, 'Veona': 29}

for player in Age:

    if Age[player] >= 32:

        continue

    print('Age of {} is {}'.format(player,Age[player]))

Age of Lynne is 20
Age of Veona is 29

**LISTS**

In [81]:
empty_lst = []   # creation of an empty list
print(empty_lst)

city = ['Nairobi', 'Nakuru', 'Kisumu', 'Mombasa']   # list of strings
print(city)

Marks = [10, 20, 56, 45, 98, 76]    # list of integers
print(Marks)

Mixed = [1, 'English', 2.25, 3+1.8j]  # mixed data types
print(Mixed)

Share_price = [[100, 105], [105, 110]]   # list of lists/nested list
print(Share_price)

[]
['Nairobi', 'Nakuru', 'Kisumu', 'Mombasa']
[10, 20, 56, 45, 98, 76]
[1, 'English', 2.25, (3+1.8j)]
[[100, 105], [105, 110]]

In [82]:
# slicing of a list with colon operator

numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90]

print(numbers[:])

print(numbers[0:5])

print(numbers[0:-3])

print(numbers[::2])  # selecting values with step 2

print(numbers[::-2])  # selecting values with a step of -2

print(numbers[:2:-2])  # selecting values from -1 index to 2nd index with a step 2 in negative

print(numbers[2::-2])  # selecting values from 2nd index with a step 2 in negative

[10, 20, 30, 40, 50, 60, 70, 80, 90]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 60]
[10, 30, 50, 70, 90]
[90, 70, 50, 30, 10]
[90, 70, 50]
[30, 10]

In [83]:
#accessing elements in a nested list

Share_price = [(100, 105), [105, 110], (110, 125)]   # list of lists/nested list

print(Share_price[0])

print(Share_price[-1])

(100, 105)
(110, 125)

In [85]:
Share_price = [(100, 105), [105, 110], (110, 125)]   # list of lists/nested list

share_op_price = Share_price[2][0]  # accesses the zero index value in the 2nd index list
print(share_op_price)

share_cl_price = Share_price[2][1]  # accesses the 1st index value in the 2nd index list
print(share_cl_price)

Share_price[1][1] = 155  # changing a value of a list within a list
print(Share_price)

# NB: We cannot change a value of a tuple since they are immutable

110
125
[(100, 105), [105, 155], (110, 125)]

In [86]:
# deleting values in a list
print(Marks)

del Marks[3]  # deleting a value in a list
print(Marks)

[10, 20, 56, 45, 98, 76]
[10, 20, 56, 98, 76]

In [87]:
print(Marks)

del Marks  # deleting an entire list
print(Marks)

[10, 20, 56, 98, 76]

NameError: name 'Marks' is not defined

LIST OPERATORS

In [88]:
lst1 = [1, 2, 3]
lst2 = [4, 5, 6]

lst3 = lst1 + lst2    # concatenation of 2 lists

print(lst3)

[1, 2, 3, 4, 5, 6]

In [89]:
lst = [1, 2, 3]*2  # repeat a list a number of times e.g. 2

print(lst)

[1, 2, 3, 1, 2, 3]

In [90]:
# usage of membership operators 'in' and 'not in'

print(city)

if 'Nakuru' in city:
    print('\n Nakuru is available')

if 'Nyeri' not in city:
    print('Nyeri is not available')

['Nairobi', 'Nakuru', 'Kisumu', 'Mombasa']

 Nakuru is available
Nyeri is not available

BUILT-IN FUNCTIONS

In [ ]:
Marks = [90,34,67,45,28,96,40,10]

print('Length of list is: ', len(Marks))

print('Max marks is: ', max(Marks))

print('Min marks is: ', min(Marks))

SORTING LISTS USING BUILT-IN FUNCTION

In [91]:
#lst = ['C','E','B','D','F','A']
lst = [90,34,67,45,28,96,40,10]

sorted_lst = sorted(lst)

sorted_list = sorted(lst, reverse=True)

print('Original list was: ', lst)

print('\nSorted list in ascending order: ', sorted_lst)

print('\nSorted list in descending order: ', sorted_list)

Original list was:  [90, 34, 67, 45, 28, 96, 40, 10]

Sorted list in ascending order:  [10, 28, 34, 40, 45, 67, 90, 96]

Sorted list in descending order:  [96, 90, 67, 45, 40, 34, 28, 10]

In [ ]:
# reverse sorting a list

week = ['Mon','Tue','Wed','Thur','Fri','Sat','Sun']

print('Reversed sorted list is: \n\n', sorted(week,reverse = True))

# reverse sorts from Z-A or from +ve max to -ve min

LIST METHODS

In [ ]:
# list.append() - inserts a list at the end of a list including the []

print(city)

city.append('Nyeri')
print('\n',city)

In [ ]:
new_city = ['Nyandarua','Bungoma']

city.append(new_city)  # inserts a list at the end of a list

print(city)

In [ ]:
# list.extend() - inserts values at the end of a list
countries = ['Kenya','Uganda','Australia','South Africa','Somalia']

new_countries = ['Burundi','Sudan','Djibouti']

countries.extend(new_countries)

print(countries)

In [ ]:
# list.insert() - inserts valuea at a particular index

presidents = ['Kenyatta','Kibaki','Uhuru','Ruto']

presidents.insert(1, 'Moi')

print(presidents)

In [ ]:
# usage of .append, .extend, .insert in a for loop
lst1=[]
lst2=[]
lst3=[]

lst = ['A','B','C','D','E',['F','G'],('H','I')]

for i in lst:
    lst1.append(i)
    lst2.extend(i)
    lst3.insert(0,i)

print('Appended values: ',lst1)
print('Extended values: ',lst2)
print('Inserted values: ',lst3)

In [ ]:
# list.reverse()

lst = [5,4,3,2,1]

lst.reverse()

print(lst)

In [ ]:
# lst.sort - sorts values from A-Z then a-z alphabetically

subjects = ['Maths','Chem','Eng','comp']
marks = [34,78,75,64,39]

subjects.sort()
marks.sort()

print(subjects)
print(marks)

In [ ]:
# lst.remove()

print(subjects)

subjects.remove('Eng')

print(subjects)

In [ ]:
# lst.pop() - removes a value at a particular index

print(marks)

a = marks.pop(2)

print('\n',a)

print('\n',marks)

In [ ]:
# lst.count() - determine the count/mode of a value in a list

phy_scores = [99,100,99,95,100,99,95,90,99,100]

print(phy_scores.count(99))   # count of 99 in list

print(phy_scores.count(100))

In [ ]:
# lst.index() - determines the index of a value in a list

print(countries)

countries.index('Burundi')

In [ ]:
# lst.clear() - removes all values from a list

print(presidents)

presidents.clear()

print(presidents)

In [ ]:
# multiple references to a single list

print(marks)

marks1 = marks

marks1.append(78)

print(marks)

In [ ]:
print(marks)

#lst.copy() - creates a copy of a list

marks2 = marks.copy()

marks2.append(90)

print(marks)

print(marks2)

LOOPING THROUGH A LIST

In [ ]:
countries

for val in countries:

    print(val)

// TUPLES //

In [ ]:
empty_tup = ()

city = ('Nairobi', 'Kisumu', 'Nakuru', 'Mombasa')

marks = (90,54,67,89)

share_price = ((100, 105), [105,110])

mixed = (1, 'Lamu', 2.25, 3+1.4j)

tup_tup = (empty_tup, city, marks, share_price, mixed)

for tup in tup_tup:

    print(tup)

In [ ]:
# slicing of tuples

numbers = (10,20,30,40,50,60,70,80,90)

print(numbers[:])

print(numbers[0:5])

print(numbers[0:-3])

In [ ]:
# accessing elements and values in a nested tuple

print(share_price[0])

print(share_price[-1])

share_op_price = share_price[1][0]
print(share_op_price)

share_price[1][1] = 155 # changing a value of a list within a tuple
print(share_price)

In [ ]:
# tuple operators

tup1 = (1,2,3)
tup2 = (4,5,6)

tup4 = ('Sunday',)

tup3 = tup1 + tup2

print(tup3)

print(tup4 * 5 )

print(type(tup4))

In [ ]:
# built in functions

print(marks)

print(len(marks))

print(max(marks))

print(min(marks))

In [ ]:
# sorting a tuple

tup = ('C','E','B','D','F','A')

sorted_tup = sorted(tup)

print('Original tuple: ',tup)

print('\nSorted tuple: ',sorted_tup)

# Sorted function gives a list as an output

In [ ]:
# reverse sorting a tuple

numbers = (10,20,30,40,50,60,70,80,90)

print(sorted(numbers, reverse=True))

In [ ]:
marks

del marks

print(marks)

In [ ]:
numbers

del numbers[1]

print(numbers)

In [ ]:
# looping through a tuple

tup = ('one', 'two', 'three', 'four', 'five')

for val in tup:

    print(val)

In [ ]:
# strings

s = 'Deng'

s[2]

In [ ]:
print(s[len(s)-1]) # fetches the last charater of a string

In [ ]:
k = 'Learning PYTHON is FUN'

print(k[:])

print(k[0:9])

print(k[9:])

In [ ]:
k

print(f'Length of {k} is',len(k))

print(k.lower())

print(k.upper())

print(k.swapcase())

print(k.capitalize())

print(k.title())

In [ ]:
# methods to strip leading and trailing spaces

s = '         Learning PYTHON is FUN'

s.lstrip()  # left strip hence lstrip

In [ ]:
s = 'Learning PYTHON is FUN**************'

s.rstrip('*')  # right strip hence rstrip

In [ ]:
s  = '*********************Learning PYTHON is FUN**************'

s.strip('*')

In [ ]:
# finding the index of a value in a string

s = 'Learning PYTHON is FUN'

length = len(s)

s.index('YT')

In [ ]:
# finding the index of a value in a string

s = 'Learning PYTHON is FUN'

length = len(s)

s.find('YT')

In [ ]:
# replacing a value within a string

s = 'Learning PYTHON is FUN'

s.replace('FUN','SUPER FUN')

In [ ]:
s  = '*********************Learning PYTHON is FUN**************'

s.replace('*','@',5)

In [ ]:
" ".join(['Welcome','to','Kenya.','Feel','at','home'])

In [ ]:
'Welcome to Kenya. Feel at home'.split()

SETS

In [ ]:
empty_set = set()

print(empty_set)

s = {10,20,30,80,90,60,50,100}

print(s)

In [ ]:
lst  = ['one','two','three','one','four','five']

print(f'list with duplicates: {lst}')

s = set(lst)

print(f'set removes duplicates: {s}')

print('\n',s)

In [ ]:
marks = {10,20,30,80,90,60,50,40,70,100}

print(marks)

print(len(marks))

print(max(marks))

print(min(marks))

print(sum(marks))

print(sorted(marks))

print(sorted(marks, reverse=True))

In [ ]:
empty = set()

marks = {10,0,20,30,80,90,60,50,40,70,100}

marks1 = {10,20,30,80,90,60,50,40,70,100}

print('All',all(marks)) # false since it contains non zero values

print('All',all(marks1)) # true since it doesn't contain non-zero values

print('All',all(empty))

In [ ]:
# set.add()

s = {1,2,3,4}

print(s)

s.add(5)

print(s)

In [ ]:
set1 = {3,6,8,2}

print(set1)

set2 = {4,2,1,9}

print(set2)

set1.update(set2)

print(f'updated set is {set1}')

In [ ]:
set1 = {1,2,3,4,5,7}

print(f'set before remove {set1}')

set1.remove(7)

print(f'set after remove {set1}')

In [ ]:
set1 = {1,2,3,4,5,7}

set1.pop()

print(set1)

In [ ]:
set1 = {3,8,6,6,2}

set2 = {4,2,1,3,9}

set3 = set1.union(set2)

print(set3)

print(set1 | set2)

In [ ]:
set1 = {3,8,6,2,9,3}

set2 = {4,2,1,9,3,2}

set3 = set1.intersection(set2)

print(set3)

print(set1 & set2)

set1.intersection_update(set2)

print(f'updated set1 is {set1}')

In [ ]:
set1 = {3,8,6,2,9}

set2 = {4,2,1,9,3}

set3 = set1.difference(set2)

print(set3)

print(set1 - set2)

In [ ]:
set1 = {3,8,6,2,9}

set2 = {4,2,1,9,3}

set3 = set1.symmetric_difference(set2)

print(set3)

print(set1 ^ set2)

set1.isdisjoint(set2)

In [ ]:
set1 = {3,8,2,6}

set2 = {4,7,10,9}

set1.isdisjoint(set2)

In [ ]:
lst = [10,10,20,30,40]

greet = 'Hello'

frozenlst = frozenset(lst)
frozengreet = frozenset(greet)

print(frozenlst)
print(frozengreet)

In [ ]:
a_dict = {frozenlst: 'Numbers', frozengreet: 'Wish'}

a_dict[frozenlst]

In [ ]:
my_dict = {}

# or

my_dict = dict()  # empty dictionary

currency = {'Ken': 'Kes', 'US': 'USD'}

print(f'global currencies are {currency}')

my_dict = {1: 'abc', 'two': [1,2,3,4]}

print(f'mixed dict {my_dict}')

In [ ]:
# creating dictionary using a list of tuples

currency = dict([('Ken','Kes'), ('US','USD')])

print(currency)

In [ ]:
# accessing values in a dict

currency = {'Ken': 'Kes', 'US': 'USD'}

print(currency['Ken'])
print(currency['US'])

In [ ]:
# adding a key:value pair in a dict 

currency['AUS'] = 'AUD'
currency['UK'] = 'GBP'

print(currency)

In [ ]:
# deleting a key:value pair

del currency['AUS']

print(currency)

DICTIONARY METHODS

In [ ]:
# dict.pop()

currency = {'Ken': 'Kes', 'US': 'USD', 'AUS': 'AUD', 'UK': 'GBP'}

popped = currency.pop('Ken')

print(f'popped value is {popped}')

print('\n',currency)

In [ ]:
# dict.popitem()

currency = {'Ken': 'Kes', 'US': 'USD', 'AUS': 'AUD', 'UK': 'GBP'}

print(currency.popitem())

print(currency)

In [ ]:
# dict.clear()

square = {2:4, 3:9, 4:16}


square.clear()

print(square)

In [ ]:
# dict.copy()

square = {2:4, 3:9, 4:16}

square_cpy = square.copy()

print(square_cpy)

In [ ]:
currency = {'Ken': 'Kes', 'US': 'USD', 'AUS': 'AUD', 'UK': 'GBP'}

print(currency.keys())

print(currency.values())

print(currency.items())

In [ ]:
# dict.update()

square = {2:4, 3:9, 4:16}

sq2 = {5:25, 6:36}

square.update(sq2)

print(square)

In [ ]:
# dict.get(key)

square

print(square.get(5))

In [ ]:
# dict.setdedault(key)

square.setdefault(12,144)

print(square)

print(square.get(12))

In [ ]:
subjects = {}

subjects = subjects.fromkeys(['Eng','Mat','Kisw'], 0)

print(subjects)

In [ ]:
currency = {'Ken': 'Kes', 'US': 'USD', 'AUS': 'AUD', 'UK': 'GBP'}

for i in currency.keys():  # using dict.keys

    print(i,':',currency[i])

In [ ]:
for i in currency.values():  # using dict.values

    print(i)

In [ ]:
for i in currency.items():  # using dict.items

    print(i)

FUNCTIONS

In [ ]:
# function to check if a number is positive or negative

def positive_negative(num):  # num is a parameter
    '''function returns "its positive" if the number is great than 0
    else return "its negative" if it is less than zero else it returns "its zero"
    if a number is zero'''

    if num > 0:
        return 'Its positive'
    elif num < 0:
        return 'Its negative'
    else:
        return 'Its zero'

# below are function calls

print(positive_negative(3)) 

print(positive_negative(-7))

print(positive_negative(0))  # the values 3,-7,0 are called arguments

In [ ]:
# function to get the sum of 2 numbers

def add(a,b):
    '''helps add two values'''
    
    addition = a + b
    
    return addition

a = int(input('Enter first number:'))
b = int(input('Enter second number:'))

s = add(a,b) # function call

print(f'The sum of {a} and {b} is {s}')

In [ ]:
print(add.__doc__)

In [ ]:
# function arguments and parameters

def result(intern, msg): # parameters
    '''this message wishes the intern
    with a congratulation msg'''

    print('Great job!',intern, '.' + msg)

In [ ]:
result('Deng', 'You have passed') # passing arguments

In [ ]:
# default arguments

def result(intern, msg='You qualified'):
    '''default argument
    example'''

    print('Great job!',intern,'.' + msg)

result('Joe')

In [ ]:
# a default argument should always follow a non-default argument

def greet(Son, msg='good morning'):

    print(Son,msg)

greet('Deng')

In [ ]:
# keyworded arguments

def result(**kwargs): # kwargs can be given any name

    print(kwargs)
    print(type(kwargs))
    print('Great job,',kwargs['intern'] , 'with roll number' + kwargs['rollno'] + kwargs['result'])

In [ ]:
result(intern = 'Deng', result = ' You are hired', rollno = ' 163599')

In [ ]:
# non-keyworded arguments

def result(*args):
    '''wishes the tuple of args
    with a congrats msg'''
    print(args)
    print(type(args))

    for intern in args:
        
        print('\nGreat job',intern,'! Congrats!')

In [ ]:
result('Joe','John','Deng','Lynne')

BUILT-IN FUNCTIONS

In [ ]:
# absolute function

integer = -40

abs(integer)

In [ ]:
# dir function

number = [1, 2, 3]

dir(number)

In [ ]:
# divmod function

divmod(16, 5)

In [ ]:
# enumerate func

grocery = {'milk','butter','bread','jam'}

enumerategrocery = enumerate(grocery,1)

for val in enumerategrocery:

    print(val)

In [ ]:
print('\n',list(enumerate(grocery,3)))

In [ ]:
# map function

def calcsquare(n):

    return n*n

numbers = (1,2,3,4,5,6,7,8,9,10)

result = map(calcsquare, numbers)

numbersSquare = list(result) # converting map object to a set

print(numbersSquare)

In [ ]:
# filter function

co_cap = ['India','Delhi','AUS','Canberra','England','London','USA','DC']

# function that filters capital cities

def filter_capitals(co_cap):
    capitals = ['Delhi','Canberra','London','Ottawa','DC']
    if(co_cap in capitals):
        return True
    else:
        return False

filteredcapitals = filter(filter_capitals, co_cap)

print('The capital cities are: \n')
for capitals in filteredcapitals:

    print(capitals)

In [ ]:
# reduce function

lst = [1,2,3,4,5]



# inporting functools for reduce()

from functools import reduce

def multiply(x,y):
    print(x + y)
    return x+y

cat = reduce(multiply, lst)

print('Reduced text is: ',cat)

RECURSIVE FUNCTION

In [ ]:
# recursive function 

def factorial(x):
    '''this is a recursive function
    returning the factorial of a number'''

    if x == 1 or x == 0:
        return 1
    else:
        return (x * factorial(x-1))

num = int(input('Enter a number: '))

print('The factorial of', num, 'is', factorial(num))

In [ ]:
# program to print the fibonacci sequence upto n-terms using recursive functon

def recursive_fibo(num):
    '''This is a recursive function'''

    if num <= 1:
        return num
    else:
        return(recursive_fibo(num - 1) + recursive_fibo(num - 2))

n_terms = int(input('Enter a number: '))

print(f'Fibonacci sequence of {n_terms} terms is:')

for num in range(n_terms):
    print(recursive_fibo(num))

LAMBDA FUNCTIONS

In [ ]:
# normal function

def double(x):

    return x**2

print(double(5))

In [ ]:
# lambda function

double = lambda x: x ** 2

print(double(5))

In [ ]:
mply = lambda x,y: x * y

print(mply(4, 5))

In [ ]:
# usage of lambda function within filter()

numbers = [1,2,3,4,5]

even = filter(lambda x: x%2 == 0, numbers)

print(list(even))

In [ ]:
# usage of lambda func within a map()

numbers = [1,2,3,4,5]  # iterable

square=list(map(lambda x: x * x, numbers))

print(square)

In [ ]:
# usage of lambda func within reduce()

numbers = [1,2,3,4,5]

from functools import reduce

square=reduce(lambda x,y: x + y, numbers)

print(square)

In [ ]:
import os

In [ ]:
print(os.__doc__)

In [ ]:
print(os.__file__)

In [ ]:
print(os.__all__)

In [ ]:
import keyword

print(keyword.kwlist)

In [ ]:
print(keyword.__all__)

In [ ]:
import math as m # import with renaming

print(m.pi)

In [ ]:
# from....import statements

from math import pi

print(pi)

In [ ]:
from math import *

print(pi)

FILE OPERATIONS

In [ ]:
# creating a new file

f = open("check.txt", 'x')

f.close()

In [ ]:
dir(f)

In [ ]:
# opening a file

f = open("check.txt")  # default mode is read

f.close()

In [ ]:
# opening a file in read mode

f = open("check.txt",'r')

In [ ]:
f.readline() # this reads the first line of your text

In [ ]:
f.tell() # tell() tells the location of the cursor

In [ ]:
f.read()

In [ ]:
f.seek(0)  # seek() will move cursor back to the beginning

In [ ]:
x = f.readlines() # reads all lines within the text
x

In [ ]:
f.seek(0)

In [ ]:
for line in f:
    print(line, end = '')

In [ ]:
f.close()