**ARRAY - ds consisting of elements each identified by at least one array index or key**

Numpy - fundamental package for scientific computing in python
      - stores list of numerical vectors andmatrices in the form of arrays
      - the NumPy package has a large set of routines (built-in fns) for creating, manipulating and transforming NumPy arrays

In [1]:
# Creating a one dimensional array using a list
# using numpy.array() function

import numpy as np

my_list = [1,2,3,4]

Oned_arr = np.array(my_list)

Oned_arr #one dimensional array

array([1, 2, 3, 4])

In [2]:
Oned_arr = np.array(my_list, dtype = 'int32')

Oned_arr

array([1, 2, 3, 4], dtype=int32)

In [3]:
# atrributes of an array

print("Array:", Oned_arr)

print("Data type:", type(Oned_arr))

print("Shape of an array:", Oned_arr.shape) # the shape of an array is similar to an order of a matrix

print("Size of each value in an array in bytes:", Oned_arr.itemsize)

print("Total no of bytes of an array:", Oned_arr.nbytes)

print("Data type of an array:", Oned_arr.dtype)

print("Dimension of an array:", Oned_arr.ndim)

# here the shape (4,) means the array is indexed by a single index which runs from 0 to 4

Array: [1 2 3 4]
Data type: <class 'numpy.ndarray'>
Shape of an array: (4,)
Size of each value in an array in bytes: 4
Total no of bytes of an array: 16
Data type of an array: int32
Dimension of an array: 1

In [4]:
# printing the values of a 1-dimensional array using a for loop

print("The array is ")

for i in Oned_arr:

    print(i, end = ' ')

The array is
1 2 3 4

In [5]:
# converting a 1-dimensional array to a list

Oned_arr = Oned_arr.tolist()

print(Oned_arr)

print(type(Oned_arr))

[1, 2, 3, 4]
<class 'list'>

In [6]:
# creating a 2D array 

my_mat = [[1,2,3],[4,5,6],[7,8,9]]

array_2D = np.array(my_mat, dtype = 'int32')

array_2D

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]], dtype=int32)

In [7]:
# atrributes of an array

print("Array:", array_2D)

print("Data type:", type(array_2D))

print("Shape of an array:", array_2D.shape) #the shape of an array is a tuple of integers giving the size of the array along each dimension.

print("Size of each value in an array in bytes:", array_2D.itemsize)

print("Total no of bytes of an array:", array_2D.nbytes)

print("Data type of an array:", array_2D.dtype)

print("Dimension of an array:", array_2D.ndim) # it is a 2D array since it requires the index of a row and column to access any element.

Array: [[1 2 3]
 [4 5 6]
 [7 8 9]]
Data type: <class 'numpy.ndarray'>
Shape of an array: (3, 3)
Size of each value in an array in bytes: 4
Total no of bytes of an array: 36
Data type of an array: int32
Dimension of an array: 2

In [8]:
# looping through a 2D array

lst = []

for i in array_2D:
    for j in i:
        print(j, end = ' ')
    print() # gives an empty line as an output

1 2 3
4 5 6
7 8 9

In [9]:
# converting a 2D array to a list using a .tolist() fn
array_2D = array_2D.tolist()

print(array_2D)

print(type(array_2D))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
<class 'list'>

In [10]:
# creating an array using a numpy .arange() fn

a_range = np.arange(6)

print(a_range)

[0 1 2 3 4 5]

In [11]:
a_range1 = np.arange(0,11,2)

print(a_range1)

[ 0  2  4  6  8 10]

In [12]:
# reshaping an array using the .reshape() fn

array = np.arange(6).reshape(3, 2) #3 rows and 2 columns

print(array, "\n")

[[0 1]
 [2 3]
 [4 5]]

In [13]:
# constructing a 3D array

array = np.arange(8).reshape(2,2,2)

print(array)

[[[0 1]
  [2 3]]

 [[4 5]
  [6 7]]]

In [14]:
z = np.arange(0, 16, 2).reshape(2,2,2)
print(z, "\n")

z = z.reshape(-1)  # creates a 1D array
print(z)
print(z.shape)
print(z.ndim, "\n")

[[[ 0  2]
  [ 4  6]]

 [[ 8 10]
  [12 14]]]

[ 0  2  4  6  8 10 12 14]
(8,)
1

In [15]:
z = np.arange(0, 16, 2).reshape(2,2,2)
print(z, "\n")

z = z.reshape(1, -1)  # creates a 2D array with a single row
print(z)
print(z.shape)
print(z.ndim, "\n")

[[[ 0  2]
  [ 4  6]]

 [[ 8 10]
  [12 14]]]

[[ 0  2  4  6  8 10 12 14]]
(1, 8)
2

In [16]:
z = np.arange(0, 16, 2).reshape(2,2,2)
print(z, "\n")

z = z.reshape(-1, 1)  # creates a 2D array with a single row
print(z)
print(z.shape)
print(z.ndim, "\n")

[[[ 0  2]
  [ 4  6]]

 [[ 8 10]
  [12 14]]]

[[ 0]
 [ 2]
 [ 4]
 [ 6]
 [ 8]
 [10]
 [12]
 [14]]
(8, 1)
2

In [17]:
# Creating different types of arrays

import numpy as np

np.random.randint(1, 100) # generating a ranfom integer between 1 and 100

99

In [18]:
print("************One dimensional********\n")

print(np.random.randint(1, 100, size = 10), "\n") # will have a shape of 10

print("************Two dimensional********\n")

print(np.random.randint(1, 100, size = (3,4)), "\n") # 2D array with a shape of (3,4)

************One dimensional********

[67 15 38 88 88 59 55 57 50 54]

************Two dimensional********

[[48 78 10 67]
 [48 33 89 93]
 [ 5 66 11 53]]

In [19]:
print("************Three dimensional********\n")

print(np.random.randint(1, 100, size = (3,2,2)), "\n") # will have a shape of (3,2,2)

print("************Four dimensional********\n")

print(np.random.randint(1, 100, size = (4,3,32,64)), "\n") # 2D array with a shape of (4,3,32,64)

************Three dimensional********

[[[10 42]
  [95 92]]

 [[22 22]
  [29 80]]

 [[45 68]
  [23 21]]]

************Four dimensional********

[[[[41 26 32 ... 32 82 93]
   [53 81 76 ... 34 34  1]
   [96 67 72 ... 97 99 91]
   ...
   [81 51 63 ... 10 24 29]
   [23 96 90 ... 86 46 75]
   [18 11  6 ... 95 67 89]]

  [[14 96 25 ... 65  7 78]
   [ 4 17  7 ... 88 80 97]
   [75 84 37 ... 30 94 13]
   ...
   [90 32 41 ... 99  4 49]
   [ 7 39 43 ... 52 99 33]
   [90 95 91 ... 52 81 99]]

  [[43 14 87 ... 95 61 23]
   [42 54 32 ... 15 48 48]
   [45 79 62 ... 40 19 86]
   ...
   [65 60 32 ... 46 25 12]
   [ 7 96 31 ... 85 20 17]
   [39 68  1 ...  3 78 83]]]


 [[[88 27 75 ... 31 55 98]
   [89 97 96 ... 28 55 22]
   [37 48 53 ... 70 19 83]
   ...
   [91 40 95 ... 95 34 68]
   [36 69 73 ... 22 40 67]
   [29 60 89 ... 21 80 97]]

  [[11 63 20 ... 47  5 87]
   [73 92 98 ... 12 37 13]
   [19 46 47 ... 32 31 25]
   ...
   [70 62 54 ... 87 79 80]
   [13 53 30 ... 72 29 32]
   [78 23 98 ... 17 60 41]]

  [[59 88 12 ... 49 48  1]
   [60 59 52 ... 27 97 16]
   [38  2 41 ... 43 33 33]
   ...
   [74 87 39 ... 41 92 32]
   [19  5 11 ... 69 68 42]
   [57 90 90 ... 39 18 50]]]


 [[[88 16 95 ... 30 96 19]
   [68 38 61 ... 51 49 33]
   [44 39 49 ... 38 48 60]
   ...
   [74 94 73 ... 80 22 99]
   [ 6 91 61 ... 64  4 78]
   [98  7 26 ... 64 11 88]]

  [[27 27 74 ... 59 80 67]
   [16 13 47 ...  8 98 64]
   [37 92 66 ... 75  1 27]
   ...
   [85 11 78 ...  5 72 99]
   [63 71 71 ... 68 11 34]
   [90 59 32 ...  3 60  4]]

  [[76 63 44 ... 66 97 20]
   [65  7 47 ... 40 12  5]
   [90 33 64 ... 62 88 78]
   ...
   [11 47 45 ... 92 29 63]
   [31  2 78 ... 16 70 33]
   [35 97 91 ...  2 26 76]]]


 [[[49 44 96 ... 93  8 50]
   [36 75 21 ... 78 78 11]
   [63 45 64 ... 48 60 49]
   ...
   [61 65 38 ...  6  3 88]
   [68 12 95 ... 38 53 26]
   [12 56 33 ... 31 19 79]]

  [[98 79 13 ... 91 16 20]
   [32 26 33 ... 74  1 62]
   [40 12 59 ... 66 76 53]
   ...
   [56 43 30 ... 33 76 52]
   [56 89 69 ... 69 56 96]
   [94  2 47 ...  8 83 68]]

  [[97 86 40 ... 75 46 96]
   [45 69 51 ... 68 61 22]
   [46 12 33 ... 15 42 23]
   ...
   [92 38 56 ... 53 27 22]
   [ 9 18 65 ...  6 81 19]
   [51 92 43 ... 46 10 58]]]]

In [20]:
np.random.rand(5)   # creating a 1D array of 5 number between 0 and 1

array([0.05680766, 0.42825333, 0.99496262, 0.60723666, 0.09043278])

In [21]:
np.random.rand(5,5)   # creating 2D array of random numbers between 0 and 1 of shape (5,5)

array([[0.17636684, 0.86653319, 0.24488338, 0.22645969, 0.84853424],
       [0.94711119, 0.16539523, 0.19383208, 0.33582852, 0.91984533],
       [0.42335403, 0.8945061 , 0.16209325, 0.7817538 , 0.9223997 ],
       [0.4925482 , 0.70745427, 0.90773741, 0.55854023, 0.45683522],
       [0.15140264, 0.31392693, 0.23126317, 0.98994278, 0.79105257]])

In [22]:
# creating a 1D array of saamples from the "standard normal" distribution between 0 and 1

np.random.randn(10)

array([ 0.03020038, -2.44372589,  0.60808447,  1.13339553, -1.44137152,
       -0.88733772, -0.44238406, -0.47807271, -0.63259906,  1.72766446])

FUNCTIONS TO CREATE ARRAYS OF DIFFERENT TYPES

In [23]:
np.zeros(5)  # creates a new array of given shape and type, filled with zeros

array([0., 0., 0., 0., 0.])

In [24]:
np.zeros((3,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [25]:
np.ones(5)   #creates an array filled with ones

array([1., 1., 1., 1., 1.])

In [26]:
np.ones((5,5))

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [27]:
np.eye(4)   # return a 2D array with ones on the diagonal and zeros somewhere

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [28]:
np.full((3,3), 7)  # return a new array filled with a 'filled value'

array([[7, 7, 7],
       [7, 7, 7],
       [7, 7, 7]])

In [29]:
np.diag([1,2,3])  # constructs a diagonal array or extract diagonal values of a multi-dimensional

array([[1, 0, 0],
       [0, 2, 0],
       [0, 0, 3]])

In [30]:
np.linspace(0,5,10)   # returns an evenly spaced numbers over a specified interval

array([0.        , 0.55555556, 1.11111111, 1.66666667, 2.22222222,
       2.77777778, 3.33333333, 3.88888889, 4.44444444, 5.        ])

**DATA TYPE CONVERSION OF AN ARRAY**

In [31]:
randarr = np.random.randint(0, 100, 10)

In [32]:
randarr.dtype

dtype('int32')

In [33]:
randarr.astype('int64')

array([38, 72, 62, 42, 54,  5, 36, 52, 75, 63])

In [34]:
randarr.astype('float64')

array([38., 72., 62., 42., 54.,  5., 36., 52., 75., 63.])

In [35]:
randarr.astype('str')

array(['38', '72', '62', '42', '54', '5', '36', '52', '75', '63'],
      dtype='<U11')

In [36]:
randarr.astype('complex128')

array([38.+0.j, 72.+0.j, 62.+0.j, 42.+0.j, 54.+0.j,  5.+0.j, 36.+0.j,
       52.+0.j, 75.+0.j, 63.+0.j])

**ACCESSING ARRAY VALUES**

In [37]:
# accessing and slicing a 1D array values

import numpy as np

arr_1D = np.arange(1,20,2)

arr_1D

array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19])

In [38]:
arr_1D[8]   # array indexing

np.int64(17)

In [39]:
arr_1D[-1]  # negative indexing

np.int64(19)

In [40]:
arr_1D[1:5]   # array slicing - but excludes the 5th index

array([3, 5, 7, 9])

In [41]:
arr_1D[0:5]  # - excludes the 5th index

array([1, 3, 5, 7, 9])

In [42]:
arr_1D[:6]

array([ 1,  3,  5,  7,  9, 11])

In [43]:
arr_1D[0] = 111  # changing an array value
arr_1D

array([111,   3,   5,   7,   9,  11,  13,  15,  17,  19])

In [44]:
arr_1D[5:] = 100  # changing array values from the 5th index
arr_1D

array([111,   3,   5,   7,   9, 100, 100, 100, 100, 100])

In [45]:
arr_1D[0] = 112.12  # if we add a float value to an array with integer
             # values, only the integer part will be included in the list
arr_1D

array([112,   3,   5,   7,   9, 100, 100, 100, 100, 100])

In [46]:
# accessing and slicing a 2D array values

arr_2D = np.array([[5,10,15],[20,25,30],[35,40,45]])

arr_2D

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [47]:
arr_2D[0]  # array indexing

array([ 5, 10, 15])

In [48]:
arr_2D[0][2] # accessing a value in a given row

# in this case first row, last value

np.int64(15)

In [49]:
arr_2D[1,2]  # similar to the example in the cell above

np.int64(30)

In [50]:
arr_2D[:2, 1:]  # accessing values in a portion of an array through slicing

array([[10, 15],
       [25, 30]])

In [51]:
arr_2d = np.arange(50).reshape(5, 10)
arr_2d

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49]])

In [52]:
arr_2d[0:4, 1:4]

array([[ 1,  2,  3],
       [11, 12, 13],
       [21, 22, 23],
       [31, 32, 33]])

In [53]:
# CREATING AN ARRAY VIEW AND AN ARRAY COPY

# array view is a way to access the same data as an existing array without copying it

arr = np.arange(0, 10)

arr # original array

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [54]:
arr_view = arr[5:]  # array view creation

arr_view

array([5, 6, 7, 8, 9])

In [55]:
np.shares_memory(arr, arr_view)  # determining if two arrays share memory reference

True

In [56]:
arr_view[:] = 100

arr_view

array([100, 100, 100, 100, 100])

In [57]:
arr  # changes in the view also apply to the original array

array([  0,   1,   2,   3,   4, 100, 100, 100, 100, 100])

In [58]:
# creating an array copy

arr

array([  0,   1,   2,   3,   4, 100, 100, 100, 100, 100])

In [59]:
arr_copy = arr[5:].copy() # creating an array copy

arr_copy

array([100, 100, 100, 100, 100])

In [60]:
np.shares_memory(arr, arr_copy)  # determining if two arrays share memory reference

False

In [61]:
arr_copy[:] = 120

arr_copy # changes made to the copy array will not affect the original array

array([120, 120, 120, 120, 120])

In [62]:
arr # original array

array([  0,   1,   2,   3,   4, 100, 100, 100, 100, 100])

**NUMPY OPERATIONS**

In [63]:
# Time taken to perform operations with Numpy array is much lesser than the time taken by python built-in sequence

x = range(1, 1000)

%timeit [2**i for i in x]

# %timeit gives us the time taken to execute a python statement or expression

888 μs ± 118 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [64]:
arr = np.arange(1, 1000)

In [65]:
%timeit np.power(2, arr)

31.1 μs ± 1.84 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

1. Aggregation of an array

In [80]:
arr = np.arange(1, 11)
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [67]:
np.add.reduce(arr)  # get the sum of all values within an array

np.int64(55)

In [68]:
np.add.accumulate(arr) # accumulate the result of applying the operator to all elements

array([ 1,  3,  6, 10, 15, 21, 28, 36, 45, 55])

In [69]:
np.multiply.reduce(arr) # get the multiplication of all values within an array

np.int64(3628800)

In [70]:
np.multiply.accumulate(arr)

array([      1,       2,       6,      24,     120,     720,    5040,
         40320,  362880, 3628800])

2. Elementwise arithmetic operation

In [71]:
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [72]:
# arr+100
# arr-100
# arr*100
# arr/100
arr**2
# 1/arr

array([  1,   4,   9,  16,  25,  36,  49,  64,  81, 100])

3. Arithmetic operations using numpy function

In [73]:
# np.add(arr, arr)
# np.subtract(arr, arr)
# np.multiply(arr, arr)
# np.divide(arr, arr)
np.divmod(arr, arr)

(array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1]), array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0]))

In [74]:
# np.sqrt(arr)
# np.log(arr)
np.power(3, arr)
# np.mod(arr, arr)
# np.abs(arr)
# np.exp(arr)
# np.exp2(arr)

array([    3,     9,    27,    81,   243,   729,  2187,  6561, 19683,
       59049])

In [75]:
# Shape mismatch of an array - this occurs when you perform operations such as addition on arrays of different shapes

a = np.arange(4)

a + np.array([1,2])

ValueError: operands could not be broadcast together with shapes (4,) (2,)

4. Logical operations

In [88]:
a = np.array([0,1,1,0], dtype = bool)
b = np.array([0,0,1,1], dtype = bool)

# np.logical_or(a,b)
# np.logical_and(a,b)
np.logical_xor(a,b)
# np.logical_not(a)

array([False,  True, False,  True])

5. Comparison operations

In [ ]:
a = np.array([1,2,3,4])
b = np.array([1,4,3,6])

# np.array_equal(a,b)  # if 2 arrays have the same values

# np.greater_equal(a,b) # a>=b
np.less(a,b)        #a<b
# np.less_equal(a,b)  #a<=b
# np.not_equal(a,b)   #a!=b
# np.equal(a,b)       #a==b

6. Bitwise operations

In [87]:
np.binary_repr(10)

# np.bitwise_and(arr>4,arr<10)  # arr>4 and arr<10
# np.bitwise_or(arr==4, arr==10) # arr==4| arr==10
np.bitwise_xor(13, 17)  # arr1^arr2
# np.binary_repr(28)
# np.bitwise_not(arr)   # ~arr

np.int64(28)

6. Trigonometric operations

In [98]:
theta = np.linspace(0, np.pi, 3) # degree in radians
theta

array([0.        , 1.57079633, 3.14159265])

In [90]:
print(np.sin(theta))
print(np.cos(theta))
print(np.tan(theta))

[0.0000000e+00 1.0000000e+00 1.2246468e-16]
[ 1.000000e+00  6.123234e-17 -1.000000e+00]
[ 0.00000000e+00  1.63312394e+16 -1.22464680e-16]

7. Statistical operations

In [91]:
x = np.random.randint(150, 180, (20,))
x

array([158, 167, 152, 178, 150, 163, 172, 151, 175, 164, 167, 150, 174,
       154, 172, 156, 173, 160, 164, 167], dtype=int32)

In [104]:
np.sum(x)  # sum of elements
# np.prod(x) # product of elements
# np.mean(x) # mean of elements
# np.std(x)  # standard deviation
# np.var(x)  # variance
# np.median(x) # median of elements
# np.percentile(x, 75) #compute rank-based statistics of elements
# np.max(x)  # maximum value
# np.min(x)  # minimum value
# np.argmax(x) # determining the index of a max value within the array
# np.argmin(x) # determining the index of the min value within the array

np.int64(36)

In [106]:
# performing statistical operation on a 2D array

p = np.random.randint(0, 5,(4,3))
p

array([[3, 4, 3],
       [2, 0, 2],
       [0, 1, 4],
       [3, 1, 2]], dtype=int32)

In [108]:
# For a 2D array, specify the axis = 0 to perform this operation vertically
# For a 2D array specify the axis = 1, to perform this operation horizontally

np.sum(p, axis = 1)  # sum of elements
# np.prod(p, axis = 0) # product of elements
# np.mean(p) # mean of elements
# np.std(p)  # standard deviation
# np.var(p)  # variance
# np.median(p) # median of elements
# np.percentile(p, 75) #compute rank-based statistics of elements
# np.max(p)  # maximum value
# np.min(p)  # minimum value
# np.argmax(p) # determining the index of a max value within the array
# np.argmin(p) # determining the index of the min value within the array

array([10,  4,  5,  6])