**PANDAS INTRODUCTION**

In [1]:
# pandas is built on top of NumPy

# Helps to create ds such as series and dataframe and it comes with functions which helps to efficiently
# perform data munging tasks 

# data munging tasks involves the conversion of raw data from one form to another

# Dataframes are essentially multi-dimensional arrays with attached row and columns labels and often
# with heterogenous data types and/or missing data
 
# Pandas package can read data from different sources like excel,sql,SAS,SPSS and many more

# Pandas dataframe can be converted into different formats like excel, sql, SAS, SPSS and hence
# it gives us the option of efficient storage

# Pandas implements a number of powerful data operations familiar to users of both database frameworks
# and spreadsheet programs

**Pandas Series**

**Pandas series**
a data structure with one-multi-dimensional labeled array capable of holding any data type e.g. integers, strings, floating point numbers, python objects etc

In [2]:
# creating a series using a pandas pd.series

import numpy as np
import pandas as pd

Marks_arr = np.random.randint(35, 100, 6)

Marks = [80,93,77,85,75,77]

Subjects = ['English', 'Maths', 'Social', 'Science', 'Lang1', 'Lang2']

In [11]:
# pd.Series(data = Marks_arr)

# pd.Series(data = Marks_arr, index = Subjects)

Score = pd.Series(Marks, Subjects)
Score

English    80
Maths      93
Social     77
Science    85
Lang1      75
Lang2      77
dtype: int64

In [12]:
type(Score)

pandas.core.series.Series

**Attributes of a series**

In [ ]:
print()